- unless photo.nil?
  - if @id == true
    - photo = Photo.first(conditions: {_id: photo.to_s})
  .card
    .venue_photo
      = image_tag photo.url[1], :width => "306"
    .infos.clearfix
      = image_tag "geo_icon.gif", :class => "geo_icon left", :height => "10", :width => "8"
      %h1.venue_name= photo.venue.name
      %p.timestamp= time_ago_in_words(Time.at photo.time_taken.to_i).to_s
      %h2.venue_type= photo.venue.categories.first["name"] unless photo.venue.categories.nil?
      %p.caption= Photo.new.caption_without_hashtags(photo.caption) unless photo.caption.nil?