%h4
  Made by 
  = link_to (image_tag "http://images.instagram.com/profiles/profile_1200123_75sq_1317331394.jpg", :width => '50px'),"http://twitter.com/#!/bencera_",:target => '_blank'
  in
  = link_to (image_tag "http://distilleryimage9.instagram.com/726e277a2a7f11e180c9123138016265_6.jpg", :width => '50px'),"http://maps.google.com/maps?q=new+york",:target => '_blank'
  with 
  = link_to (image_tag 'http://distillery.s3.amazonaws.com/media/2011/10/20/51601a369dd547afa8fe0232c04ab41e_6.jpg', :width => '50px'),"http://en.wikipedia.org/wiki/Love", :target => '_blank'
  = ". Powered by "
  = link_to (image_tag 'http://distillery.s3.amazonaws.com/media/2011/08/11/3f5f4500ffad40da905c950967c7708f_6.jpg', :width => '50px'),"http://www.instagram.com", :target => '_blank'
  and 
  = link_to (image_tag 'http://distilleryimage2.instagram.com/1b17e2982a8b11e180c9123138016265_6.jpg', :width => '50px'),"http://www.foursquare.com", :target => '_blank'

%h4
  = link_to "Feedback", "mailto:ben@ubimachine.com?subject=Feedback on ubimachine"