- unless photo.nil?
  - @photo = photo
  %li
    .card{:id => "photo_card_#{photo.id.to_s}"}
      .image
        %a{:'data-controls-modal' => "modal_show_#{photo.id.to_s}", :'data-backdrop' => "true", :'data-keyboard' => "true"}
          = image_tag photo.url[1], :width => '220px'
          .modal.hide{:id => "modal_show_#{photo.id.to_s}"}
            .modal-body
              - unless @photo.nil?
                #img
                  .img= image_tag "#" , :width => '500px', :'data-href' => @photo.url[1], :id => "modal_photo_img_#{@photo.id}"
                  %div#img_details
                    %h1.venue= link_to @photo.venue.name, @photo.venue
                    - if ig_logged_in
                      .follow_form{:id => "show_venue#{@photo.venue.id}"}
                        - unless current_user.venues.distinct(:_id).include?(@photo.venue.id)
                          = render 'partials/follow_show'
                        - else
                          = render 'partials/unfollow_show'
                    - else
                      .follow_form
                        %a.btn.large{:href => "/create_account"} Follow
                    %br
                    #map_left
                      = image_tag "#", :id => "map_photo_#{@photo.id}", :'data-href' =>  "http://maps.googleapis.com/maps/api/staticmap?center=#{@photo.venue.coordinates[1]},#{@photo.venue.coordinates[0]}&zoom=15&size=420x150&maptype=roadmap&markers=color:blue%7Clabel:Sa%7C#{@photo.venue.coordinates[1]},#{@photo.venue.coordinates[0]}&sensor=false"
                    %p.neighborhood
                      - unless @photo.venue.neighborhood.nil?
                        = @photo.venue.neighborhood
                    %p.user
                      = link_to (image_tag photo.user.ig_details[1], :width => "50px"), "/users/#{photo.user.ig_username}", :id => "user_pic"
                      - if photo.user.ig_details[0].blank?
                        = link_to photo.user.ig_username, "/users/#{photo.user.ig_username}", :id => "user"
                      - else
                        = link_to photo.user.ig_details[0], "/users/#{photo.user.ig_username}", :id => "user"
                      - unless params[:category] == "food" or params[:category] == "shopping" or params[:category] == "entertainment" or params[:category] == "nightlife" or params[:category] == "outdoors"
                        = "in" unless photo.category.nil?
                        = link_to photo.category, "/photos?city=#{current_city}&category=#{photo.category}" unless photo.category.blank?
                    %p.time_stamp
                      taken
                      = time_ago_in_words(Time.at @photo.time_taken.to_i)
                      = "ago"
                    -if @photo.requests.blank?
                      %p.comment= "\"#{@photo.caption}\"" unless @photo.caption.blank?
                    -elsif @photo.requests.first.response.nil?
                      %p.comment= "\"#{@photo.caption}\"" unless @photo.caption.blank?
                      %p.question
                        Q: 
                        = @photo.requests.first.question.gsub(" - via @ubimachine", "")
                    -else
                      %p.comment= "\"#{@photo.caption}\"" unless @photo.caption.blank?
                      %p.question
                        Q: 
                        = @photo.requests.first.question.gsub(" - via @ubimachine", "")
                      %p.answer
                        A: 
                        = "\"#{@photo.requests.first.response}\""
                    - if ig_logged_in
                      - if current_user.usefuls.where(photo_id: @photo.id).empty?
                        .useful_btn{:id => "photo#{@photo.id.to_s}"}
                          = render 'partials/useful', :photo => @photo
                      - else
                        .useful_btn{:id => "photo#{@photo.id.to_s}"}
                          = render 'partials/unuseful', :photo => @photo
                    -else
                      %a.useful_btn.btn#useful{:href => '/create_account'} useful
                    %br
                    %br
                    %p.useful_count
                      - unless @photo.useful_count == 0
                        = pluralize(@photo.useful_count, "person")
                        found it useful
                    .useful_people
                      - unless @photo.useful_count == 0
                        - @photo.usefuls.each do |useful|
                          = link_to (image_tag User.first(conditions: {_id: useful.user_id}).ig_details[1], :width => '50px'), "/users/#{User.first(conditions: {_id: useful.user_id}).ig_username}"
                    :javascript
                      $('.modal').bind('show', function() {
                        var link = $("#modal_photo_img_#{@photo.id}").attr('data-href');
                        var maplink = $("#map_photo_#{@photo.id}").attr('data-href');
                        $("#modal_photo_img_#{@photo.id}").attr('src', link);
                        $("#map_photo_#{@photo.id}").attr('src', maplink);
                        })
        #boutons
          - if ig_logged_in
            - if current_user.usefuls.where(photo_id: photo.id).empty?
              .useful_btn{:id => "photo#{@photo.id.to_s}"}
                = render 'partials/useful', :photo => @photo
            - else
              .useful_btn{:id => "photo#{@photo.id.to_s}"}
                = render 'partials/unuseful', :photo => @photo
          -else
            %a.useful_btn.btn#useful{:href => '/create_account'} useful
          - if photo.requests.blank?
            = render 'partials/showquestion', :photo => @photo
      %div
        - if @venue.nil?
          %p.venue= link_to "#{photo.venue.name}", photo.venue
        %p.time= timeago_small(Time.at photo.time_taken.to_i)
        - if @venue.nil?
          %p.neighborhood
            - unless photo.venue.neighborhood.nil?
              = photo.venue.neighborhood
        -if photo.requests.blank?
          %p.comment
            = "\"#{photo.caption}\"" unless photo.caption.blank?
        -elsif photo.requests.first.response.nil?
          %p.comment
            = "\"#{photo.caption}\"" unless photo.caption.blank?
        -else
          %p.question
            Q: 
            = photo.requests.first.question.gsub(" - via @ubimachine", "")
          %p.answer
            A: 
            = "\"#{photo.requests.first.response}\""
        - if @user.nil?
          %p.user
            = link_to (image_tag photo.user.ig_details[1], :width => "30px"), "/users/#{photo.user.ig_username}", :id => "user_pic"
            - if photo.user.ig_details[0].blank?
              = link_to photo.user.ig_username, "/users/#{photo.user.ig_username}", :id => "user"
            - else
              = link_to photo.user.ig_details[0], "/users/#{photo.user.ig_username}", :id => "user"
            - unless params[:category] == "food" or params[:category] == "shopping" or params[:category] == "entertainment" or params[:category] == "nightlife" or params[:category] == "outdoors"
              = "in" unless photo.category.nil?
              = link_to photo.category, "/photos?city=#{current_city}&category=#{photo.category}" unless photo.category.blank?
        - else
          %p.user
            = link_to photo.category, "/photos?city=#{current_city}&category=#{photo.category}" unless photo.category.blank?
            
        %p.useful_count{:id => "photo#{@photo.id.to_s}"}
          = pluralize(photo.usefuls.count, 'person') unless photo.usefuls.count == 0
          = "found this photo useful" unless photo.usefuls.count == 0