- unless photo.nil?
  - if @id == true
    - photo = Photo.first(conditions: {_id: photo.to_s})
  - unless photo.venue.nil?
    - unless photo.user.nil?
      - @photo = photo
      %li
        .card{:id => "photo_card_#{photo.id.to_s}"}
          .image
            %a{:'data-controls-modal' => "modal_show_#{photo.id.to_s}", :'data-backdrop' => "true", :'data-keyboard' => "true"}
              = image_tag photo.url[1], :width => '220px'
              = render 'partials/modalphoto', :photo => @photo
          %div
            = image_tag "location.png", :width => "10px", :style => "float: left; margin-right: 2px"
            %p.venue= link_to "#{photo.venue.name}", photo.venue
          %p.time
            = image_tag "clock.png", :width => "10px", :style => "float: left; margin-right: 2px; margin-top: 3px"
            = timeago_small(Time.at photo.time_taken.to_i)
            %p.neighborhood
              - unless photo.venue.neighborhood.nil?
                = photo.venue.neighborhood
            %p.comment
              - if photo.usefuls.empty?
                = "\"#{photo.caption}\"" unless photo.caption.blank?
              - elsif @user  
                - if photo.usefuls.where(:user_id => @user.id).empty?
                  = "\"#{photo.caption}\"" unless photo.caption.blank?
                - elsif photo.usefuls.where(:user_id => @user.id).first.done == nil
                  = image_tag "todo.png", :width => "12px", :style => "float: left; margin-right: 2px"
                  to-do:
                  = "\"#{photo.usefuls.where(:user_id => @user.id).first.caption}\""
                - else
                  = image_tag "done.png", :width => "12px", :style => "float: left; margin-right: 2px"
                  done:
                  = "\"#{photo.usefuls.where(:user_id => @user.id).first.caption}\""
              - else
                - if photo.usefuls.empty?
                  = "\"#{photo.caption}\"" unless photo.caption.blank?
                - elsif photo.usefuls.first.done == nil
                  = image_tag "todo.png", :width => "12px", :style => "float: left; margin-right: 2px"
                  to-do:
                  = "\"#{photo.usefuls.first.caption}\""
                - else
                  = image_tag "done.png", :width => "12px", :style => "float: left; margin-right: 2px"
                  done:
                  = "\"#{photo.usefuls.first.caption}\""
                    
            -if photo.requests.blank?
            -elsif photo.requests.first.response.nil?
            -else
              %p.question
                Q: 
                = photo.requests.first.question.gsub(" - via @ubimachine", "")
              %p.answer
                A: 
                = "\"#{photo.requests.first.response}\""
            .new_caption{:style => "display:none;"}
              = form_tag usefuls_path, :method => :post, :remote => true do
                - l = 0
                - l = photo.caption.length unless photo.caption.nil?
                your description
                = text_area_tag :new_caption, "#{photo.caption}", :id => "box", :rows => "#{l/35 +1}"
                = hidden_field_tag :id, @photo.id
                = submit_tag "+ to-do list", :class => "btn small"
                = submit_tag "done this", :class => "btn small success"
            %p.user
              - if !(photo.usefuls.empty?)
                - user_useful = User.first(conditions: {_id: photo.usefuls.first.user_id})
                = link_to (image_tag user_useful.profile_picture, :width => "30px", :id => "profile_picture"), "/users/#{user_useful.username}", :id => "user_pic"
                = link_to user_useful.username, "/users/#{user_useful.username}", :id => "user"
                via
              - else
                = link_to (image_tag photo.user.ig_details[1], :width => "30px", :id => "profile_picture"), "/users/ig/#{photo.user.ig_username}", :id => "user_pic"
              - if photo.user.ig_details[0].blank?
                = link_to photo.user.ig_username, "/users/ig/#{photo.user.ig_username}", :id => "user"
              - else
                = link_to photo.user.ig_details[0], "/users/ig/#{photo.user.ig_username}", :id => "user"
              - unless params[:category] == "food" or params[:category] == "shopping" or params[:category] == "entertainment" or params[:category] == "nightlife" or params[:category] == "outdoors"
                = "in" unless photo.category.nil?
                - categories = {"Arts & Entertainment" => "entertainment", "Nightlife Spot" => "nightlife", "Great Outdoors" => "outdoors", "Shop & Service" => "shopping", "Food" => "food"}
                = link_to photo.category, "/photos?city=#{current_city}&category=#{categories[photo.category]}", :id => "category" unless photo.category.blank?
                