.container
  .content_below
    %h1
      = image_tag @user.ig_details[1], :width => '150px'
      = @user.ig_username
    %h2
      = @user.requests.count
      Questions asked-answered
    
  
.container
  .content_below
    %h1
      Following
      = @user.venues.count
      venues
    %ul
      - @user.venues.each do |venue|
        %li
          - @venue = venue
          = @venue.name
          - if ig_logged_in
            .follow_form{:id => "venue#{@venue.id}"}
              - unless current_user.venues.distinct(:_id).include?(@venue.id)
                = render 'partials/follow', :venue => @venue
              - else
                = render 'partials/unfollow', :venue => @venue