.container
  .content_below
    .row
      .span12
        .profile_pic
          = image_tag @user.profile_picture + "?type=large", :width => '150px'
        - if @user.fb_username.nil?
          %h1.username
            = @user.username
          %p.full_name
            = @user.ig_details[0]
          %p.bio
            = @user.ig_details[2]
          %a.website{:href => @user.ig_details[3], :target => "_blank"}
            = @user.ig_details[3]
        - else
          %h1.username
            = @user.username
          %p.full_name
            = @user.fb_fullname
          %p.bio
            = @user.fb_bio
          %a.website{:href => @user.fb_website, :target => "_blank"}
            = @user.fb_website 
      .span4{:style => "width: 180px"}
        - if @user.username.nil?
          %a.photos{:href => "/users/ig/#{@user.ig_username}/photos"}
            = "Took"
            = @user.photos.count
            = "+ photos"
        - else
          %a.photos{:href => "/users/#{@user.username}/photos"}
            = "Took"
            = @user.photos.count
            = "+ photos"
        - unless @user.username.nil?
          %a.following{:href => "/users/#{@user.username}/follows"}
            Following
            = @user.venue_ids.count
            venues
        
          %a.usefuls{:href => "/users/#{@user.username}/todo"}
            = pluralize(@user.usefuls.where(:done => nil).count, "thing")
            to do
          
          %a.question_asked{:href => "/users/#{@user.username}/done"}
            = pluralize(@user.usefuls.where(:done => true).count, "thing")
            done

.container_photos
  %ul.media-grid
    #results
      = render :partial => 'partials/showphoto', :collection => @photos, :as => :photo

      = will_paginate @photos
      = pageless @photos.total_pages, "/users/#{@user.username}"

:javascript  
  $(document).ready(function() {
    $('.card').wookmark({offset:10,container:$('.container_photos'),itemWidth:240});
  });
  $(window).resize(function() {
    $('.card').wookmark({offset:10,container:$('.container_photos'),itemWidth:240});
  });
  $('body').ajaxComplete(function() {
    $('.card').wookmark({offset:10,container:$('.container_photos'),itemWidth:240});
  });
%footer
  = render 'partials/footer'