.container
  .content_below
    #main_title
      %h1 Ask what is happening before going.
      %br
      %br
    %ul.media-grid
      %li#photo_explain
        = image_tag 'follow.png', :width => '200px', :height => '200px'
        %p Follow the venues you love
      %li#photo_explain
        = image_tag 'venues.png', :width => '200px', :height => '200px'
        %p See pictures taken there recently
      %li#photo_explain
        = image_tag 'ask.png', :width => '200px', :height => '200px'
        %p Ask what's happening there now
  
  .content_below
    .signin
      = link_to (image_tag 'ubimachine_btn.png'),  'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'
    .or
      = link_to "or skip for a reduced experience", '/photos'
      
%footer
  = render 'partials/footer'