.container
  .content_below
    %ul.media-grid
      .intro
        - photo = Photo.where(tag: "u")[0]
        = render 'partials/showphoto', :photo => photo
        - photo = Photo.where(tag: "b")[0]
        = render 'partials/showphoto', :photo => photo
        - photo = Photo.where(tag: "i")[0]
        = render 'partials/showphoto', :photo => photo
  
  .content_below
    .signin
      = link_to (image_tag 'ubimachine_btn.png'),  'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=' + root_url + 'auth/instagram/callback&response_type=code&scope=likes+comments+relationships'
    .or
      = link_to "or skip for a reduced experience", '/cities'
      
%footer
  = render 'partials/footer'