.container
  .content_below
    .row.show-grid
      .span4 
        %h2 ubimachine
      .span4
        %h5 1. Account
      .span4
        %h5#selected 2. Venues
      .span4
        %h5#selected 3. Question
    
.container
  .content_below
    %h1#main_title Create your ubimachine account
    %br
    .row
      .span4
        #profile_pic.clearfix
          - if @user.fb_id.nil? 
            = image_tag @user.ig_details[1], :width => '180px' unless @user.ig_details.nil?
          - else
            = image_tag "https://graph.facebook.com/#{@user.fb_username}/picture?type=large", :width => '180px'
      .span12
        #email_form
          - if @user.errors.any?
            %ul.unstyled
              - for message in @user.errors.full_messages
                %li
                  = message
          = form_tag '/signup', :id => "new_user" do
            - if @user.fb_id.nil? 
              = text_field_tag :username, @user.ig_username, :disabled => :true, :class => 'xlarge', :id => "xlInput"
            - else
              = text_field_tag :username, @user.username, :class => 'xlarge', :id => "xlInput"
            %br
            %br
            %br
            - if @user.fb_id.nil? 
              = text_field_tag :email,  nil, :placeholder => "Email", :class => 'xlarge', :id => "xlInput"
            - else
              = text_field_tag :email,  @user.email, :placeholder => @user.email, :class => 'xlarge', :id => "xlInput"
            %br
            %br
            %br
            = password_field_tag :password,  nil, :placeholder => "Password", :class => 'xlarge', :id => "xlInput"
            %br
            %br
            = submit_tag "Create account", :class => 'btn large signup'

%footer
  = render 'partials/footer'