.container
  .content_below
    %h1 Welcome to ubimachine!
    %h4 Ubiquity finally available to you.

.container
  .content_below
    %h3 Ubimachine let's you:
    %ul
      %li Explore your city and the world through pictures taken via Instagram every second
      %li Follow your favorite venues to always know what's happening there
      %li Ask people who are there now (or who have been) questions about the venue
    
    
.container
  .content_below
    %p Enter your email to get notified when someone answers a question you asked:
    = form_tag '/signup' do
      = text_field_tag :email,  nil, :placeholder => "Your email..."
      = submit_tag "submit", :class => 'btn'
    = link_to "skip", '/follows'

%footer
  = render 'partials/footer'