- if !@show_links
  #wrapper
    .left{:style => "margin-top:15px"}
      =image_tag "http://s3.amazonaws.com/now_assets/sxsw_iphone.png", :width => "350px", :id => "iphone"
    .right
      #content
        = image_tag "logo_landing.png", :width => "260px"
        %p.question{:style => "font-size:22px"} I see you love Google Analytics! So do we. :)
        %p.question Download Now for SxSW: </br>- See the coolest events before you go <br/>- Check if your Instagram friends are there
        %p.question See you around!
        %p.question
          = "- "
          %a{:href => "mailto:ben@getnowapp.com"}Ben
          , Conall & Chris
        %p{:style => "font-size:14px; margin-top:5px"}
          PS: We'd love to meet you at SxSW! Say hi at our display at 
          %a{:href => "http://feed.is/", :target=> "_blank"}#FEED

        %a{:href => "http://itunes.apple.com/app/now./id525956360", :target => "_blank"}
          #appstore{:style => "margin-left:10px; margin-top:35px"}
            = image_tag "https://d3422saexnbpnl.cloudfront.net/static/images/appstorebadge2x.png", :width => "200px"

    .footer{:style => "width: 520px;"}
      %a{:href => "http://checkthis.com/aboutnow"} About
      路
      %a{:href => "http://checkthis.com/nowhelpcenter"} Help
      路
      %a{:href => "http://checkthis.com/nowtermsofservice"} Terms
      路
      %a{:href => "http://checkthis.com/nowprivacy"} Privacy
      路
      %a{:href => "http://checkthis.com/nowpress"} Press
- else
  %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %p#counter{:style => "display:none"} 1

  %p.question Please click all the links below.  When you've clicked them all, you'll get your completion code
  - @links.each do |link_url|
    %p#link
      -if @new_tab
        %a#link{:href => link_url, :target=> "_blank"}
          = link_url
      -else
        %a#link{:href => link_url}
          = link_url
  :javascript
    $("a#link").click(function() {
    var i = parseInt($("#counter").html(),10);
    $("#counter").text(i+1);
    if(i >= #{@links.count - 1}){alert("The passcode is #{@passcode}")}
    });
