%h1 Users
%h2{:style => "color:black"} Number of users
%p= APN::Device.count

%h2{:style => "color:black"}  User countries
%p= @countries

%h2{:style => "color:black"}  User cities
%p= @cities

%h2{:style => "color:black"}  Users in the last day
%p= APN::Device.where(:updated_at.gt => 1.day.ago).count

%h2{:style => "color:black"}  Users in the last 3 days
%p= APN::Device.where(:updated_at.gt => 3.days.ago).count

%h2{:style => "color:black"}  Users in the last week
%p= APN::Device.where(:updated_at.gt => 1.week.ago).count

%h2{:style => "color:black"}  Users in the 2 weeks
%p= APN::Device.where(:updated_at.gt => 2.weeks.ago).count

%h2{:style => "color:black"}  Users in the last month
%p= APN::Device.where(:updated_at.gt => 1.month.ago).count