%h2{:style => "color:black"} Number of users
%p= APN::Device.count

%h2{:style => "color:black"}  User countries
%p= @countries

%h2{:style => "color:black"}  User cities
%p= @cities

%h2{:style => "color:black"} Number of pushs per city
%p= @pushs

%p="__________________________________"

%h2{:style => "color:black"}  Users in the last day
%p= APN::Device.where(:updated_at.gt => 1.day.ago).count

%h2{:style => "color:black"}  Users in the last 3 days
%p= APN::Device.where(:updated_at.gt => 3.days.ago).count

%h2{:style => "color:black"}  Users in the last week
%p= APN::Device.where(:updated_at.gt => 1.week.ago).count

%h2{:style => "color:black"}  Users in the 2 weeks
%p= APN::Device.where(:updated_at.gt => 2.weeks.ago).count

%h2{:style => "color:black"}  Users in the last month
%p= APN::Device.where(:updated_at.gt => 1.month.ago).count

%p="__________________________________"

%h2{:style => "color:black"}  Users used 10+ times
%p= APN::Device.where(:visits.gt => 10).count

%h2{:style => "color:black"}  Users used 25+ times
%p= APN::Device.where(:visits.gt => 50).count

%h2{:style => "color:black"}  Users used 50+ times
%p= APN::Device.where(:visits.gt => 50).count

%h2{:style => "color:black"}  Users used 100+ times
%p= APN::Device.where(:visits.gt => 100).count

%p="__________________________________"

%h2{:style => "color:black"}  Users with location 0
%p= APN::Device.where(:coordinates => [0,0]).count