%h2{:style => "color:black"} Number of users
%p= APN::Device.count

%h2{:style => "color:black"} User created today
%p= APN::Device.where(:created_at.gt => 1.day.ago).count
%p= @cities_today

%h2{:style => "color:black"} User created this week
%p= APN::Device.where(:created_at.gt => 1.week.ago).count

%h2{:style => "color:black"} User created this month
%p= APN::Device.where(:created_at.gt => 1.month.ago).count


%h2{:style => "color:black"} Users coming from Instagram
%p= $redis.get("instagram_downloads")

%h2{:style => "color:black"} Facebook Users
%p= FacebookUser.count

%h2{:style => "color:black"} Facebook Users
%p= @likedEvents

%h2{:style => "color:black"} Problems with Facebook likes
%p= $redis.smembers("problemFacebookLikes")

%h2{:style => "color:black"}  User countries
%p= @countries

%h2{:style => "color:black"}  User states
%p= @states

%h2{:style => "color:black"}  User cities
%p= @cities

%h2{:style => "color:black"} Number of pushs per city
%p= @pushs

%p="__________________________________"

%h2{:style => "color:black"} Percentage of weekly actives in New York
%p= number_to_percentage(APN::Device.where(:updated_at.gt => 7.days.ago).where(:city => "New York").count.to_f/APN::Device.where(:city => "New York").count * 100)

%h2{:style => "color:black"} Percentage of actives in SF
%p= number_to_percentage(APN::Device.where(:updated_at.gt => 7.days.ago).where(:city => "San Francisco").count.to_f/APN::Device.where(:city => "San Francisco").count * 100)

%h2{:style => "color:black"} Percentage of actives in Paris
%p= number_to_percentage(APN::Device.where(:updated_at.gt => 7.days.ago).where(:city => "Paris").count.to_f/APN::Device.where(:city => "Paris").count * 100)

%h2{:style => "color:black"} Percentage of actives in London
%p= number_to_percentage(APN::Device.where(:updated_at.gt => 7.days.ago).where(:city => "London").count.to_f/APN::Device.where(:city => "London").count * 100)

%p="__________________________________"

%h2{:style => "color:black"}  Users in the last day
%p= "#{APN::Device.where(:updated_at.gt => 1.day.ago).count} (#{number_to_percentage((APN::Device.where(:updated_at.gt => 1.day.ago).count.to_f - APN::Device.where(:created_at.gt => 1.day.ago).count) / (APN::Device.count - APN::Device.where(:created_at.gt => 1.day.ago).count) *100)})"

%h2{:style => "color:black"}  Users in the last 3 day
%p= "#{APN::Device.where(:updated_at.gt => 3.days.ago).count} (#{number_to_percentage((APN::Device.where(:updated_at.gt => 3.days.ago).count.to_f - APN::Device.where(:created_at.gt => 3.days.ago).count) / (APN::Device.count - APN::Device.where(:created_at.gt => 3.days.ago).count) *100)})"
%p= @pushs_1day

%h2{:style => "color:black"}  Users in the last week
%p= "#{APN::Device.where(:updated_at.gt => 1.week.ago).count} (#{number_to_percentage((APN::Device.where(:updated_at.gt => 1.week.ago).count.to_f - APN::Device.where(:created_at.gt => 1.week.ago).count) / (APN::Device.count - APN::Device.where(:created_at.gt => 1.week.ago).count) *100)})"

%h2{:style => "color:black"}  Users in the 10 days
%p= "#{APN::Device.where(:updated_at.gt => 10.days.ago).count} (#{number_to_percentage((APN::Device.where(:updated_at.gt => 10.days.ago).count.to_f - APN::Device.where(:created_at.gt => 10.days.ago).count) / (APN::Device.count - APN::Device.where(:created_at.gt => 10.days.ago).count) *100)})"

%h2{:style => "color:black"}  Users in the last 2 weeks
%p= "#{APN::Device.where(:updated_at.gt => 2.weeks.ago).count} (#{number_to_percentage((APN::Device.where(:updated_at.gt => 2.weeks.ago).count.to_f - APN::Device.where(:created_at.gt => 2.weeks.ago).count) / (APN::Device.count - APN::Device.where(:created_at.gt => 2.weeks.ago).count) *100)})"

%p="__________________________________"

%h2{:style => "color:black"}  Users used 2+ times
%p= APN::Device.where(:visits.gt => 2).count
%p= @pushs_2times

%h2{:style => "color:black"}  Users used 5+ times
%p= APN::Device.where(:visits.gt => 4).count

%h2{:style => "color:black"}  Users used 10+ times
%p= APN::Device.where(:visits.gt => 9).count

%h2{:style => "color:black"}  Users used 20+ times
%p= APN::Device.where(:visits.gt => 19).count

%p="__________________________________"

%h2{:style => "color:black"}  Users with location 0
%p= APN::Device.where(:coordinates => [0,0]).count

#footer
	%a{:href=>"https://mixpanel.com/f/partner"}
		%img{:src=>"https://mixpanel.com/site_media/images/partner/badge_light.png", :alt=>"Mobile and Web Analytics"}