.wrapper2{:style => "overflow:hidden"}
    .header
    .event{:style => "width:319px; margin-top:10px"}
        .map{:style =>"height: 150px;width:319px;"}
            = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@venue.coordinates[1]},#{@venue.coordinates[0]}&zoom=12&size=319x150&maptype=terrain&sensor=false&scale=2", :width => "320px"
            .dimmer{:style => "width:319px;height:150px;top:-155px"}
            .pin{:style => "top:-250px; left:130px;"}
                = image_tag "http://s3.amazonaws.com/now_assets/Pin%402x.png", :width => "50px"
            .logo.clearfix{:style => "top:-412px"}
                = image_tag "http://s3.amazonaws.com/now_assets/FB+PHOTO-03-03.png", :width => "50px", :style => "float:left"
                %p.brand NOW
                %a.download{:href => "http://getnowapp.com/download"}
                    = image_tag "https://d3422saexnbpnl.cloudfront.net/static/images/appstorebadge2x.png", :width => "140px"
        .eventheader.clearfix{:style => "width: 319px;"}
            .venue
                %p= @venue.name.upcase
            .description
                %p= @event.description.upcase
        .media
            - if @event.has_vine
                - @vines.each do |vine|
                    .twophoto.clearfix{:style => "height:319px"}
                        <iframe class="vine-embed left photoleft" src="#{vine.external_media_id}/embed/simple" width="319" height="319" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
            - @mobile_photos.each do |photos|
                - if photos.count == 2
                    .twophoto.clearfix{:style => "height:159.81px"}
                        = image_tag photos[0].url[1], :width => "159.1px", :class => "left photoleft"
                        = image_tag photos[1].url[1], :width => "159.81px", :class => "left"
                - elsif photos.count == 3 and rand(2) == 0
                    .threephoto.clearfix{:style => "height:213.20px"}
                        = image_tag photos[0].url[1], :width => "212.50px", :class => "left photoleft"
                        = image_tag photos[1].url[1], :width => "106.42px", :class => "left phototop"
                        = image_tag photos[1].url[1], :width => "106.42px", :height => "106.66px", :class => "left photo"
                - elsif photos.count == 3
                    .threephoto2.clearfix{:style => "height:106.42px"}
                        = image_tag photos[0].url[1], :width => "106.42px", :class => "left photoleft"
                        = image_tag photos[1].url[1], :width => "104.9px", :class => "left photoleft"
                        = image_tag photos[2].url[1], :width => "106.42px", :class => "left"