.background{:style => "background-image: url('#{@photos.all[rand(@photos.count)].url[1]}')"}
.dimmer
.view.view-moments_show
  .timeline-line
  .moment
    .map_container{:style => "position: relative"}
      = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@venue.coordinates[1]+0.03},#{@venue.coordinates[0]}&zoom=10&size=680x225&maptype=roadmap&markers=icon:http://www.ubimachine.com/assets/map_pin.png%7Clabel:Sa%7C#{@venue.coordinates[1]},#{@venue.coordinates[0]}&sensor=true&scale=2", :width => '680px', :height => '225px', :class => 'map-block photo-image'
      %b.photo-border{:style => "width:680px; height: 225px"}
    .tooltip-block
      .tooltip-container
        %span.tooltip-text=@venue.name
        %span.tooltip-pointer



.timeline
  %ol
    - i = 0
    - @reposts.each do |repost|
      %li{:style => "height: #{@reposts_position[i][0]}px;"}
        - if @reposts_position[i][2]
          .moment-block.leftblock{:style => "height: #{@reposts_position[i][1]}px"}
            .leftarrow
            .moments_feedback
              .profile-pic
                = image_tag "#{repost.get_fb_user_photo}", :width => '35px', :height => '35px'
              .username
                %p= repost.get_fb_user_name
              .timestamp
                %p 2h
              .text
                - if repost.description.empty?
                  %p= "."
                - else
                  %p=repost.description
              - if repost.new_photos
                .images-block
                  - j = 0
                  - repost.checkin_card_list.each do |photo|
                    = image_tag "#{photo.url[1]}", :width => "#{@photo_positions[i][j][0]}px", :height => "#{@photo_positions[i][j][1]}px", :style => "left:#{@photo_positions[i][j][2]}px; top:#{@photo_positions[i][j][3]}px", :class => "image-timeline"
                    - j = j + 1
        - else
          .moment-block.rightblock{:style => "height: #{@reposts_position[i][1]}px"}
            .timeline-arrow
            .moments_feedback
              .profile-pic
                = image_tag "#{repost.get_fb_user_photo}", :width => '35px', :height => '35px'
              .username
                %p= repost.get_fb_user_name
              .timestamp
                %p 2h
              .text
                - if repost.description.empty?
                  %p= "."
                - else
                  %p=repost.description
              - if repost.new_photos
                .images-block
                  - j = 0
                  - repost.checkin_card_list.each do |photo|
                    = image_tag "#{photo.url[1]}", :width => "#{@photo_positions[i][j][0]}px", :height => "#{@photo_positions[i][j][1]}px", :style => "left:#{@photo_positions[i][j][2]}px; top:#{@photo_positions[i][j][3]}px", :class => "image-timeline"
                    - j = j + 1
      - i = i + 1

/ .moment-block{:style => "height: 1000px; width: 100%; margin-top: 100px; background: #fc4a6f;"}
/   #wrapper
/     .left
/       =image_tag "iphone_landing.png", :width => "400px", :id => "iphone"
      

/     .right
/       #content
/         =image_tag "logo_landing.png", :width => "260px"
/         %p.tagline Experience your city.
/         %p.question What is happening in your city?
/         %p.description{:style => "width: 360px"} Now detects events in your city and shows you photos taken by others there. Finally be in the know.
/         %a{:href => "http://itunes.apple.com/app/now./id525956360", :target => "_blank"}
/           %p.download_btn Get the free app
/         %p{:style => "font-size: 14px; margin-top: 68px", :class => "instagram"} Photos powered by the Instagram API
/     .footer
/       %a{:href => "http://checkthis.com/aboutnow"} About
/       ·
/       %a{:href => "http://checkthis.com/nowhelpcenter"} Help
/       ·
/       %a{:href => "http://checkthis.com/nowtermsofservice"} Terms
/       ·
/       %a{:href => "http://checkthis.com/nowprivacy"} Privacy
