#header-container
    #header
        #logo-container{:style => "margin-bottom: 80px;"}
            #nowlogo{:style => "float:left;  margin-left: 36px"}
                =image_tag "logo_eventpage2.png"
            #downloadlogo{:style => "float:right; margin-right: 40px"}
                %p.download_btn Get the app
        %p
        .title= @event.description.capitalize
        .time_place
            - if @photos.first.time_taken.to_i < 3.hours.ago.to_i
                Happened
                %span.timeago= "#{time_ago_in_words(Time.at @photos.first.time_taken.to_i).to_s} ago"
            - else
                Happening
                %span.timeago now
            at 
            %span.timeago= truncate(@venue.name, :length => 40)
            in 
            %span.timeago= @city
#content

    #map_canvas{:style => "width: 600px; height: 200px; margin-bottom: 20px"}

    - @photos.each do |p|
        = image_tag p.url[0], :width => '197px'
    %hr
    %div{:class=>"fb-like", 'data-send'=>"false", :'data-layout'=>"button_count", :'data-width'=>"450", :'data-show-faces'=>"false"}
    %a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :'data-lang'=>"en"} Tweet



%script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
%script{:src=>"http://srobbin.github.com/chosen/chosen.jquery.min.js"}
%script{:src=>"http://srobbin.github.com/intelligist/jquery.intelligist.min.js"}
%script{:src=>"http://srobbin.github.com/backstretch/jquery.backstretch.min.js"}
:javascript
    $.backstretch("#{@photos.all[rand(@photos.count)].url[1]}");
:javascript
    function initialize() {
      var myLatlng = new google.maps.LatLng(#{@venue.coordinates[1]},#{@venue.coordinates[0]});
      var myOptions = {
        center: myLatlng,
        zoom: 15,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"),
          myOptions);
      var image = '/assets/map_pin.png';
      var marker = new google.maps.Marker({
            position: myLatlng,
            title:"#{@venue.name}",
            icon: image,
            map: map
            });
            marker.setMap(map);

        }
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");