%script{:type=>"text/javascript"}
    mixpanel.track("Show:loaded")
    mixpanel.track_links("#nowlogo a", "Show:logo")
    mixpanel.track_links("#downloadlogo a", "Show:download")
    mixpanel.track_links("#content a", "Show:photo")
#header-container
    #header{:style => "height: 250px"}
        #map_canvas{:style => "width: 680px; height: 250px;"}
        #map_now_logo{:style => "position:absolute; top: 15px; left: 15px"}
            = image_tag "http://s3.amazonaws.com/now_assets/now-web-logo.png", :width => "43px", :height => "35px"
        #map_shadow{:style => "position:absolute; top: 240px"}
            = image_tag "http://s3.amazonaws.com/now_assets/map_shadow.png", :width => "680px", :height => "7px"

#content
    .profile_pic{:style => "float:left; margin-top: 10px"}=image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c19.19.240.240/s160x160/547069_10151752536545314_1906932109_n.jpg", :width => "50px", :height => "50px"
    .title{:style => "font-size:16px;text-align:left; font-weight:bold; margin-left:60px;"}
        = image_tag "http://s3.amazonaws.com/now_assets/location-pin.png", :width => "9px", :height => "13px"
        = @venue.name
    .time_place{:style => "font-size:16px;text-align:left; margin-left:60px;"}= @event.description
    - @photos.each do |p|
        = image_tag p.url[0], :width => '210px', :style => "margin:0 5px 5px 0"


%script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
%script{:src=>"http://srobbin.github.com/chosen/chosen.jquery.min.js"}
%script{:src=>"http://srobbin.github.com/intelligist/jquery.intelligist.min.js"}
%script{:src=>"http://srobbin.github.com/backstretch/jquery.backstretch.min.js"}
:javascript
    $.backstretch("#{@photos.all[rand(@photos.count)].url[1]}");
:javascript
    function initialize() {
      var centerLatlng = new google.maps.LatLng(#{@venue.coordinates[1]+ 0.02},#{@venue.coordinates[0]});
      var myLatlng = new google.maps.LatLng(#{@venue.coordinates[1]},#{@venue.coordinates[0]});
      var myOptions = {
        center: centerLatlng,
        disableDefaultUI: true,
        zoom: 12,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"),
          myOptions);
      var image = 'http://s3.amazonaws.com/now_assets/concert_web.png';
      var marker = new google.maps.Marker({
            position: myLatlng,
            title:"#{@venue.name}",
            icon: image,
            map: map
            });
            marker.setMap(map);

        }
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");