#header-container
    #header
        %p
            = image_tag "http://a1650.phobos.apple.com/us/r30/Purple/v4/4f/5a/6a/4f5a6a97-6518-a2bc-e2b7-5f6e357756d3/j9PfLRB8t5aePMS9isnt00-temp-upload.hflfdkti.170x170-75.png", :width => '30px', :style => "margin-top: 5px"
            %span Now.
            = image_tag "http://www.urcreations.com/images/app-store-badge.png", :width => '100px', :style => "margin-left: 37.5%"
        %div{:style => "margin-top: 5px"}
            %p.username{:style => "font-size: 14px"}=@event.description.capitalize
            %p.information{:style => "font-size: 10px"}
                - if @photos.first.time_taken.to_i < 3.hours.ago.to_i
                    Happened
                    %span.timeago= "#{time_ago_in_words(Time.at @photos.first.time_taken.to_i).to_s} ago"
                - else
                    Happening
                    %span.timeago now
                at 
                %span.timeago= truncate(@venue.name, :length => 30)
                in 
                %span.timeago= @city

    
.profile.group
    .stage
        .stage-inner
            - @photos.each do |p|
                = image_tag p.url[1], :width => "32.5%", :style => "margin-bottom: 2px"