.root
    #top-bar{:style => "position:fixed;top:0; height:43px"}
        .wrap
            .brand
                #logo{:style => "margin-top:5px;float:left"}
                    = image_tag "http://s3.amazonaws.com/now_assets/now-web-logo.png", :width => "40px"
                #BrandName{:style => "float:left; margin-top:10px; margin-left: 5px; color: white; font-weight:bold; font-size: 22px"}
                    Now
            .download{:style => "float:right"}
                .downloadButton
                    %a.appLink{:href => "http://getnowapp.com/download"}
                        .openText Download App
    #space{:style => "height: 40px;"}
    #eventInfo{:style => "font-size: 12px;"}
        #wrap
            %a{:href => "comgooglemaps://?q=#{@venue.coordinates[1]},#{@venue.coordinates[0]}"}
                .map
                    #mapContainer
                    .categoryPin
                        = image_tag "http://s3.amazonaws.com/now_assets/#{@category}_web.png", :width => "58.5px", :height => "70px"
                    #mapShadow
            .venueDescription{:style => "margin:1% 2% 3% 2%;"}
                .venueName
                    = image_tag "http://s3.amazonaws.com/now_assets/location-pin.png", :width => "7px", :height => "10px"
                    = truncate(@venue.name,:length => 35)
                    .timeAgo
                        - if @event.end_time.to_i > 1.hour.ago.to_i
                            = "now"
                        - else
                            = "#{time_ago_in_words(Time.at @event.end_time.to_i)} ago"
                .venueType{:style => "color:gray; font-size:13px; margin-top: -4px;"}
                    - if @venue.city.nil?
                        = "#{@venue.categories.first["name"]}" unless @venue.categories.nil?
                    - else
                        - if @venue.categories.nil?
                            = "in #{@venue.city_name}" 
                        - else
                            = "#{@venue.categories.first["name"]} in #{@venue.city_name}"
            .eventPhotos{:style => "margin-left:2%; margin-right: 2%; margin-top:12px"}
                - if @photos.count == 3
                    .threePhotosOneBig.clearfix{:style => "width:100%;margin-top:-11px"}
                        #photo1{:style => "width:66.32%;height:66.32%; float:left; margin-right: 1%"}
                            = image_tag @photos[0].url[0], :width => "100%"
                        #photo2{:style => "width:32.66%;height:32.66%;float:left;"}
                            = image_tag @photos[1].url[2], :width => "100%"
                        #photo3{:style => "width:32.66%;height:32.66%;float:left; margin-top:-3px"}
                            = image_tag @photos[2].url[2], :width => "100%"
                - else
                    - @mobile_photos.each do |photos|
                        - if photos.count == 2
                            .twoPhotos.clearfix{:style => "width:100%; margin-top:-11px"}
                                #photo1{:style => "width:49.5%;height:49.5%;float:left; margin-right: 1%"}
                                    = image_tag photos[0].url[0], :width => "100%"
                                #photo2{:style => "width:49.5%;height:49.5%;float:left"}
                                    = image_tag photos[1].url[0], :width => "100%"
                        - elsif photos.count == 3
                            - if [0,1].sample == 0
                                .threePhotos.clearfix{:style => "width:100%;margin-top:-11px"}
                                    #photo1{:style => "width:32.66%;height:32.66%;float:left; margin-right: 1%"}
                                        = image_tag photos[0].url[2], :width => "100%"
                                    #photo2{:style => "width:32.66%;height:32.66%;float:left; margin-right: 1%"}
                                        = image_tag photos[1].url[2], :width => "100%"
                                    #photo3{:style => "width:32.66%;height:32.66%;float:left"}
                                        = image_tag photos[2].url[2], :width => "100%"
                            - else
                                .threePhotosOneBig.clearfix{:style => "width:100%;margin-top:-11px"}
                                    #photo1{:style => "width:66.32%;height:66.32%; float:left; margin-right: 1%"}
                                        = image_tag photos[0].url[0], :width => "100%"
                                    #photo2{:style => "width:32.66%;height:32.66%;float:left;"}
                                        = image_tag photos[1].url[2], :width => "100%"
                                    #photo3{:style => "width:32.66%;height:32.66%;float:left; margin-top:-3px"}
                                        = image_tag photos[2].url[2], :width => "100%"
    .moreEvents{:style => "margin-top:15px"}
        %h2{:style => "font-size: 16px; color:grey; font-weight:bold; margin-left:5px; margin-bottom:10px"} Other events happening now
        - @more_events[0..2].each do |event|
            %a{:href => "http://now-testing.herokuapp.com/#{event.shortid}"}
                #eventInfo{:style => "font-size: 12px;"}
                    #wrap{:style => "height:245px"}
                        .venueDescription{:style => "margin:1% 2% 3% 2%;"}
                            .venueName
                                = image_tag "http://s3.amazonaws.com/now_assets/location-pin.png", :width => "7px", :height => "10px"
                                = truncate(event.venue.name,:length => 35)
                                .timeAgo
                                    - if event.end_time.to_i > 1.hour.ago.to_i
                                        = "now"
                                    - else
                                        = "#{time_ago_in_words(Time.at event.end_time.to_i)} ago"
                            .venueType{:style => "color:gray; font-size:13px; margin-top: -4px;"}
                                = truncate(event.description, :length => 32)
                        .eventPhotos{:style => "margin-left:2%; margin-right: 2%; margin-top:12px"}
                            - liked_photos = event.photos.sort_by{|x| x.now_likes}.reverse
                            .threePhotos.clearfix{:style => "width:100%;margin-top:-11px"}
                                #photo1{:style => "width:32.66%;height:32.66%;float:left; margin-right: 1%"}
                                    = image_tag liked_photos[0].url[2], :width => "100%"
                                #photo2{:style => "width:32.66%;height:32.66%;float:left; margin-right: 1%"}
                                    = image_tag liked_photos[1].url[2], :width => "100%"
                                #photo3{:style => "width:32.66%;height:32.66%;float:left"}
                                    = image_tag liked_photos[2].url[2], :width => "100%"
                            .threePhotos.clearfix{:style => "width:100%;margin-top:-11px"}
                                #photo1{:style => "width:32.66%;height:32.66%;float:left; margin-right: 1%"}
                                    = image_tag liked_photos[3].url[2], :width => "100%"
                                #photo2{:style => "width:32.66%;height:32.66%;float:left; margin-right: 1%"}
                                    = image_tag liked_photos[4].url[2], :width => "100%"
                                #photo3{:style => "width:32.66%;height:32.66%;float:left"}
                                    = image_tag liked_photos[5].url[2], :width => "100%"



%script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
:javascript
    var width = $(window).width();
    var newHtml = '<img alt="map" height="200px" src="http://maps.googleapis.com/maps/api/staticmap?center=#{@venue.coordinates[1]},#{@venue.coordinates[0]}&amp;zoom=11&amp;size=' + width + 'x200&amp;maptype=roadmap&amp;sensor=false&amp;scale=2&amp;key=AIzaSyDaB7Lbgnwfni3jrzOephB8HW7_6tJf-Es">'
    $("#mapContainer").html(newHtml);