.wrapper2
    .header
    .event
        .map
            = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@venue.coordinates[1]},#{@venue.coordinates[0]}&zoom=12&size=960x200&maptype=terrain&sensor=false&scale=2", :width => "960px"
            .pin
                = image_tag "http://s3.amazonaws.com/now_assets/Pin%402x.png", :width => "50px"
            .logo.clearfix
                = image_tag "http://s3.amazonaws.com/now_assets/FB+PHOTO-03-03.png", :width => "56px", :style => "float:left"
                %p.brand NOW
                %a.download{:href => "http://getnowapp.com/download"}
                    = image_tag "https://d3422saexnbpnl.cloudfront.net/static/images/appstorebadge2x.png", :width => "140px"
        .eventheader
            .venue
                %p= @venue.name.upcase
            .description
                %p= @event.description.upcase
        .media
            - @mobile_photos.each do |photos|
                - if photos.count == 2
                    .twophoto.clearfix
                        = image_tag photos[0].url[1], :width => "479.5px", :class => "left photoleft"
                        = image_tag photos[1].url[1], :width => "479.5px", :class => "left"
                - elsif photos.count == 3 && rand(2) == 0
                    .threephoto.clearfix
                        = image_tag photos[0].url[1], :width => "639.66px", :class => "left photoleft"
                        = image_tag photos[1].url[1], :width => "319.33px", :class => "left phototop"
                        = image_tag photos[2].url[1], :width => "319.33px", :height => "320px", :class => "left photo"
                - elsif photos.count == 3
                    .threephoto2.clearfix
                        = image_tag photos[0].url[1], :width => "319.33px", :class => "left photoleft"
                        = image_tag photos[1].url[1], :width => "319.33px", :class => "left photoleft"
                        = image_tag photos[2].url[1], :width => "319.33px", :class => "left"