
#container{:style => "margin: 10px"}
    #header
        #logo-container
            %a{:href => "/"}
                = image_tag "logo_eventpage2.png", :width => '82px', :style => "float:left;;margin-left:-4px;"
            %a{:href => "http://itunes.apple.com/app/now./id525956360"}
                %p.download_btn{:style => "float:right"} Get the app
        .event-description{:style => "padding-top: 60px"}
            %p.information{:style => "font-size: 12px; margin-bottom: 5px"}
                - if @photos.first.time_taken.to_i < 3.hours.ago.to_i
                    Happened
                    %span.timeago{:style => "font-weight: bold"}= "#{time_ago_in_words(Time.at @photos.first.time_taken.to_i).to_s} ago"
                - else
                    Happening
                    %span.timeago{:style => "font-weight: bold"} now
                at 
                %span.timeago{:style => "font-weight: bold"}= truncate(@venue.name, :length => 25)
                in 
                %span.timeago{:style => "font-weight: bold"}= @city

        
    #content
        %p.title
            - unless @event.description.nil?
                %h1 Event already has description
            = form_tag "/events", :method => "post" do
                = text_field_tag :description,  nil, :placeholder => "Describe the event", :style => "width: 200px"
                = hidden_field_tag :confirm, "yes"
                = text_field_tag :link, nil, :placeholder => "Put a link on the event"
                = text_field_tag :question1, nil, :placeholder => "question1"
                = text_field_tag :question2, nil, :placeholder => "question2"
                = text_field_tag :question3, nil, :placeholder => "question3"
                = hidden_field_tag :event_id, @event.id
                = submit_tag "Yes!"
                = radio_button_tag(:category, "Concert")
                = label_tag(:category_name, "concert")
                = radio_button_tag(:category, "Movie")
                = label_tag(:category_name, "movie")
                = radio_button_tag(:category, "Food")
                = label_tag(:category_name, "food")
                = radio_button_tag(:category, "Party")
                = label_tag(:category_name, "party")
                = radio_button_tag(:category, "Conference")
                = label_tag(:category_name, "conference")
                = radio_button_tag(:category, "Performance")
                = label_tag(:category_name, "performance")
                = radio_button_tag(:category, "Sport")
                = label_tag(:category_name, "sport")
                = radio_button_tag(:category, "Art")
                = label_tag(:category_name, "art")
                = radio_button_tag(:category, "Outdoors")
                = label_tag(:category_name, "outdoors")
                = radio_button_tag(:category, "Exceptional")
                = label_tag(:category_name, "exceptional")
                = radio_button_tag(:category, "Celebrity")
                = label_tag(:category_name, "celebrity")
                = check_box_tag(:push)
                = label_tag(:push_desc, "Push Notification")
                = check_box_tag(:should_ask)
                = label_tag(:ask_desc, "Comments")
        - @photos.each do |p|
            - unless p.caption.nil?
                = p.caption
                %br
        .photos{:style => ""}
            - @photos.each do |p|
                = image_tag p.url[2], :width => "32.5%", :style => "margin-bottom: 2px"