%h1.title
  = "Hi Ben! #{@new_event.venue.name} might be trending!"
  Can you please confirm?
  = form_tag "/events", :method => "post" do
    = text_field_tag :description,  nil, :placeholder => "Describe the event"
    = hidden_field_tag :confirm, "yes"
    = hidden_field_tag :event_id, @new_event.id
    = submit_tag "Yes!"
    
  = form_tag "/events", :method => "post" do
    = hidden_field_tag :confirm, "no"
    = hidden_field_tag :event_id, @new_event.id
    = submit_tag "There isn't anything special here."
    
  = render :partial => 'partials/card', :collection => @new_event.photos, :as => :photo