= "#{@venue.name} - #{@venue.categories.first["name"]}"
%br
- @photos.take(100).each do |photo|
	= image_tag photo.url[0], :width => "100px"
%br
- @groups.each do |g|
	= "#{g[0]} photos in #{(@photos[g[0] + g[1] - 1].time_taken - @photos[g[1]].time_taken)/3600} hours  on a #{Venue.new.day_to_text(Venue.new.week_day(@photos[g[1]].time_taken))} starting at #{Time.at(@photos[g[1]].time_taken).hour}"
	%br
	- @photos[g[1]..(g[0] + g[1] - 1)].each do |p|
		= image_tag p.url[0], :width => "100px"
	%br