%h1= "#{@venue.name} - #{@venue.categories.first["name"]}"
%br
- @venue.photos.take(100).each do |photo|
	= image_tag photo.url[0], :width => "100px", :alt => "#{photo.ig_media_id}"
= form_tag(:controller => "venues", :action => "venue_autotrend_create", :method => "post") do
	%p= label_tag(:push_desc, "Descriptions")
	= text_field_tag :title1, nil, :placeholder => "title 1"
	= text_field_tag :title2, nil, :placeholder => "title 2"
	= text_field_tag :title3, nil, :placeholder => "title 3"
	%p= label_tag(:push_desc, "Category")
	= select :category , nil,["Concert","Party","Art","Outdoors","Exceptional","Celebrity","Food","Movie","Conference","Performance","Sport"]
	%p= label_tag(:push_desc, "Thresholds")
	= text_field_tag :people, nil, :placeholder => "number of people"
	= text_field_tag :hours, nil, :placeholder => "in number of hours"
	= text_field_tag :close_time, nil, :placeholder => "closing time"
	%br
	%br
	%p= label_tag(:push_desc, "Illustrations")
	= text_field_tag :photo1, nil, :placeholder => "id"
	= text_field_tag :photo2, nil, :placeholder => "id"
	= text_field_tag :photo3, nil, :placeholder => "id"
	= text_field_tag :photo4, nil, :placeholder => "id"
	= text_field_tag :photo5, nil, :placeholder => "id"
	= text_field_tag :photo6, nil, :placeholder => "id"
	%br
	%br
	= check_box_tag(:blacklist)
	= label_tag(:push_desc, "Black list?")
	= check_box_tag(:autotrend)
	= label_tag(:autotrend, "Autotrend?")
	= hidden_field_tag :venue_id, @venue.id
	%br
	%br
	= submit_tag "Post"