.container
  .content_below
    %h1
      = "Search results for \"#{params[:term]}\" in"
      - if current_city == "newyork"
        = "New York"
      - elsif current_city == "paris"
        = "Paris"
      - elsif current_city == "tokyo"
        = "Tokyo"
      - elsif current_city == "london"
        = "London"
      - elsif current_city == "sanfrancisco"
        = "San Francisco"
     
    - @venues.each do |venue|
      .venue
        = link_to venue["name"], venue_path(venue["id"])
        %span
          - unless venue["category"].nil?
            = venue["category"]["name"]
            = " - "
        %span
          - unless venue["location"]["address"].nil?
            = venue["location"]["address"]
        %span
          - unless venue["location"]["crossStreet"].nil?
            = venue["location"]["crossStreet"]
        %span{:style => "font-weight: bold;"}
          - venue = Venue.first(conditions: {_id: venue["id"]})
          - unless venue.nil?
            = "(#{venue.photos.count} photos)"
            
      
%footer
  = render 'partials/footer'