.container
  .content_below
    %h1= "Search results in #{current_city}"
    - @venues.each do |venue|
      .venue
        = link_to venue["name"], venue_path(venue["id"])
        %span
          - unless venue["category"].nil?
            = venue["category"]["name"]
      
%footer
  = render 'partials/footer'