.container
  .content_below
    %h1 Search results in New York
    - @venues.each do |venue|
      .venue
        = link_to venue["name"], venue_path(venue["id"])
        %span
          - unless venue["category"].nil?
            = venue["category"]["name"]
        = " - "
        %span
          - unless venue["location"]["address"].nil?
            = _"#{venue["location"]["address"]}"_
        %span
          - unless venue["location"]["crossStreet"].nil?
            = _"#{venue["location"]["crossStreet"]}"_
            
      
%footer
  = render 'partials/footer'