.container
  .content_below
    %h1#main_title Follow venues you love
    .show-grid
      %ul.unstyled#follow{:style => "text-align: center;"}
        - @suggestfollows[0..20].each do |venue_id|
          %li 
            - @venue = Venue.first(conditions: {_id: venue_id})
            %h4.name= @venue.name
            %p.category{:style => "text-align: center;"}= @venue.categories.first["name"] unless @venue.categories.nil?
            = image_tag Venue.first(conditions: {_id: venue_id}).photos.order_by([[:time_taken,:desc]]).first.url[1], :width => '200px', :id => "follow_img"
            .follow_form{:id => "venue#{@venue.id}"}
              - unless current_user.venues.distinct(:_id).include?(@venue.id)
                = render 'partials/follow', :venue => @venue
              - else
                = render 'partials/unfollow', :venue => @venue
    %br
    %br
    .next{:style => "text-align: center;"}
      %a.btn.large{:href => '/photos'} Finish      
      
                    
%footer
  = render 'partials/footer'