.container
  .content_below
    - if ig_logged_in
      %h1 Follow venues you love
      .row.show-grid
        .span4
          %ul.unstyled#follow
            - @suggestfollows[0..4].each do |venue_id|
              %li 
                - @venue = Venue.first(conditions: {_id: venue_id})
                = @venue.name
                .follow_form{:id => "venue#{@venue.id}"}
                  - unless current_user.venues.distinct(:_id).include?(@venue.id)
                    = render 'partials/follow', :venue => @venue
                  - else
                    = render 'partials/unfollow', :venue => @venue
        .span4
          %ul.unstyled#follow
            - @suggestfollows[5..9].each do |venue_id|
              %li 
                - @venue = Venue.first(conditions: {_id: venue_id})
                = @venue.name
                .follow_form{:id => "venue#{@venue.id}"}
                  - unless current_user.venues.distinct(:_id).include?(@venue.id)
                    = render 'partials/follow', :venue => @venue
                  - else
                    = render 'partials/unfollow', :venue => @venue
        .span4
          %ul.unstyled#follow
            - @suggestfollows[10..14].each do |venue_id|
              %li 
                - @venue = Venue.first(conditions: {_id: venue_id})
                = @venue.name
                .follow_form{:id => "venue#{@venue.id}"}
                  - unless current_user.venues.distinct(:_id).include?(@venue.id)
                    = render 'partials/follow', :venue => @venue
                  - else
                    = render 'partials/unfollow', :venue => @venue
        .span4
          %ul.unstyled#follow
            - @suggestfollows[15..19].each do |venue_id|
              %li 
                - @venue = Venue.first(conditions: {_id: venue_id})
                = @venue.name
                .follow_form{:id => "venue#{@venue.id}"}
                  - unless current_user.venues.distinct(:_id).include?(@venue.id)
                    = render 'partials/follow', :venue => @venue
                  - else
                    = render 'partials/unfollow', :venue => @venue
      %h1#follow
        = link_to "Done", '/photos'

%footer
  = render 'partials/footer'