.container
  .content_below
    %h1 ipsum ipsum
    %ul
      %li 
        venue 1
        = form_tag follows_path, :method => :post do
          = hidden_field_tag :id, nil
          = submit_tag "follow", :class => 'primary btn'
      %li
        venue 2
        = form_tag follows_path, :method => :post do
          = hidden_field_tag :id, nil
          = submit_tag "follow", :class => 'primary btn'

%footer
  = render 'partials/footer'