.container
  .content_below#main
    - if params[:id].nil?
      %h1= "My feed"    
    -elsif params[:id] == "food"
      %h1= "New York" + " - " + "Restaurants"
    -elsif params[:id] == "nightlife"
      %h1= "New York" + " - " + "Nightlife"
    -elsif params[:id] == "entertainment"
      %h1= "New York" + " - " + "Arts & Entertainment"
    -elsif params[:id] == "outdoors"
      %h1= "New York" + " - " + "Outdoors"
      
    %ul.media-grid
      - @photos[0..19].each do |photo_id|
        - photo = Photo.first(conditions: {_id: photo_id.to_s})
        = render 'partials/showphoto', :photo => photo
    - unless @photos.count < 20
      .more
        = form_tag photos_url, :method => :get do
          - if params[:page].nil?
            = hidden_field_tag :page, 2
          - else
            = hidden_field_tag :page, (params[:page].to_i + 1)
          = hidden_field_tag :id, params[:id]
          = submit_tag "more", :class => 'btn'
        
  .content_below#right
    %h3 Trending venues
    %ul.unstyled
      - @venues_trending.each do |venue|
        %li
          = link_to venue.name, venue
          %br
          = venue.photos.last_hours(3).distinct(:user_id).count
          users
        
%footer
  = render 'partials/footer'