- if params[:category] == "geoloc"
  .plan
    = image_tag "#", :id => "map"

.container
  .content_below
    - cities = {"newyork" => "New York", "paris" => "Paris", "tokyo" => "Tokyo", "sanfrancisco" => "San Francisco", "london" => "London"}
    - if params[:category].nil?
      - if ig_logged_in
        %h3#feed= "My feed"    
      - else
        %h3#feed= "Popular in #{cities[current_city]}"
    -elsif params[:category] == "food"
      %h3#feed= "Restaurants in #{cities[current_city]}"
    -elsif params[:category] == "nightlife"
      %h3#feed= "Nightlife in #{cities[current_city]}"
    -elsif params[:category] == "entertainment"
      %h3#feed= "Arts & Entertainment in #{cities[current_city]}"
    -elsif params[:category] == "outdoors"
      %h3#feed= "Outdoors in #{cities[current_city]}"
    -elsif params[:category] == "shopping"
      %h3#feed= "Shopping in #{cities[current_city]}"  
    -elsif params[:category] == "popular"
      %h3#feed= "Popular in #{cities[current_city]}"  
    -elsif params[:category] == "answers"
      %h3#feed= "Answers in #{cities[current_city]}"

    #results
      = render :partial => 'partials/showphoto_mobile', :collection => @photos, :as => :photo
      = pageless @photos.total_pages, "/photos?city=#{current_city}&category=#{params[:category]}&neighborhood=#{params[:neighborhood]}"


:javascript
  navigator.geolocation.getCurrentPosition(function(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    var mapUrl = "http://maps.google.com/maps/api/staticmap?center=" +
    latitude + "," + longitude +
    "&zoom=14&size=320x150&sensor=false&maptype=roadmap&markers=color:blue%7Clabel:Sa%7C"+latitude+","+longitude;
    $('#map').attr('src', mapUrl).show();
  });

- if params[:category] == "geoloc"
  :javascript
    $(".container#promo").hide();


%footer
  = render 'partials/footer'