= form_tag "/events", :method => "post" do
  = text_field_tag :description,  nil, :placeholder => "Describe the event"
  = hidden_field_tag :confirm, "yes"
  = hidden_field_tag :event_id, @new_event.venue.id
  = submit_tag "Yes!"

#results
  = render :partial => 'partials/card', :collection => @photos, :as => :photo
  = pageless @photos.total_pages, "/disrupt?lat=#{params[:lat]}&lng=#{params[:lng]}&range=#{params[:range]}"