- if params[:category] == "special"
  .plan
    = image_tag "http://maps.google.com/maps/api/staticmap?center=" + params[:lat] + "," + params[:lng] + "&zoom=14&size=320x150&sensor=false&maptype=roadmap&markers=color:blue%7Clabel:Sa%7C" +params[:lat]+","+params[:lng]
/ #map_canvas{:style => "width: 100%; height: 150px"}

.container
  .content_below
    - cities = {"newyork" => "New York", "paris" => "Paris", "tokyo" => "Tokyo", "sanfrancisco" => "San Francisco", "london" => "London"}
    - if params[:category].nil?
      - if ig_logged_in
        %h3#feed= "My feed"
      - else
        %h3#feed= "Popular in #{cities[current_city]}"
    -elsif params[:category] == "food"
      %h3#feed= "Restaurants in #{cities[current_city]}"
    -elsif params[:category] == "nightlife"
      %h3#feed= "Nightlife in #{cities[current_city]}"
    -elsif params[:category] == "entertainment"
      %h3#feed= "Arts & Entertainment in #{cities[current_city]}"
    -elsif params[:category] == "outdoors"
      %h3#feed= "Outdoors in #{cities[current_city]}"
    -elsif params[:category] == "shopping"
      %h3#feed= "Shopping in #{cities[current_city]}"  
    -elsif params[:category] == "popular"
      %h3#feed= "Popular in #{cities[current_city]}"  
    -elsif params[:category] == "answers"
      %h3#feed= "Answers in #{cities[current_city]}"

    #results
      = render :partial => 'partials/showphoto_mobile', :collection => @photos, :as => :photo
      = pageless @photos.total_pages, "/photos?city=#{current_city}&category=#{params[:category]}&neighborhood=#{params[:neighborhood]}&lat=#{params[:lat]}&lng=#{params[:lng]}"


- if params[:category] == "special"
  :javascript
    $(".container#promo").hide();

/ :javascript
/   var myLatlng = new google.maps.LatLng(40.7214996,-73.9888294);
/   var myOptions = {
/     center: myLatlng,
/     zoom: 14,
/     mapTypeId: google.maps.MapTypeId.ROADMAP
/   };
/   var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
/   var marker = new google.maps.Marker({
/       position: myLatlng,
/       map: map,
/       title:"My location",
/       animation: google.maps.Animation.DROP
/   });
/   
/   function addMarker() {
/     marker.push(new google.maps.Marker({ 
/       position: myLatlng,      
/       map: map,      
/       draggable: false,      
/       animation: google.maps.Animation.DROP
/     }));};

%footer
  = render 'partials/footer'