#newsfeed_v2
= link_to "All New York", :controller => "photos", :action => "index"
= link_to "Restaurants", :controller => "photos", :action => "index", :id => "food"
= link_to "Nightlife", :controller => "photos", :action => "index", :id => "nightlife"
= link_to "Arts & Entertainment", :controller => "photos", :action => "index", :id => "entertainment"
= link_to "Outdoors", :controller => "photos", :action => "index", :id => "outdoors"
= link_to "My feed", :controller => "photos", :action => "index", :id => "myfeed"

.yui-g
  .yui-g.first
    .yui-u.first
      - n = 3.0
      - @photos[0..19].each do |photo|
        - n += 1
        - if Integer(n/4) == n/4
          = render 'partials/showphoto', :photo => photo
    .yui-u
      - n = 2.0
      - @photos[0..19].each do |photo|
        - n += 1
        - if Integer(n/4) == n/4
          = render 'partials/showphoto', :photo => photo
  .yui-g
    .yui-u.first
      - n = 1.0
      - @photos[0..19].each do |photo|
        - n += 1
        - if Integer(n/4) == n/4
          = render 'partials/showphoto', :photo => photo
    .yui-u
      - n = 0.0
      - @photos[0..19].each do |photo|
        - n += 1
        - if Integer(n/4) == n/4
          = render 'partials/showphoto', :photo => photo