.container
  .content_below
    - if params[:category].nil?
      - if ig_logged_in
        %h1#feed= "My feed"    
      - else
        %h1#feed= "Popular"
    -elsif params[:category] == "food"
      %h1#feed= "Restaurants"
    -elsif params[:category] == "nightlife"
      %h1#feed= "Nightlife"
    -elsif params[:category] == "entertainment"
      %h1#feed= "Arts & Entertainment"
    -elsif params[:category] == "outdoors"
      %h1#feed= "Outdoors"
    -elsif params[:category] == "shopping"
      %h1#feed= "Shopping"  
    -elsif params[:category] == "popular"
      %h1#feed= "Popular"  
    -elsif params[:category] == "answers"
      %h1#feed= "Answers"

    - @photos[0..9].each do |photo|
      - if @id == true
        - photo = Photo.first(conditions: {_id: photo.to_s})
      %a#photo_wrapper.clearfix{:href => "photos/#{photo.id.to_s}"}
        = render 'partials/showphoto', :photo => photo
    - unless @photos.count < 10
      .bouton
        = form_tag photos_url, :method => :get do
          - if params[:page].nil?
            = hidden_field_tag :page, 2
          - else
            = hidden_field_tag :page, (params[:page].to_i + 1)
          = hidden_field_tag :category, params[:category]
          = submit_tag "more", :class => 'btn'
        
%footer
  = render 'partials/footer'