.card
  #trending{:style => "font-size: 14px;"}
    .infos.clearfix{:style => "float: none; padding: 10px 0 10px 0;"}
      %h1.trending_title{:style => "color: #777; font-size: 16px;"} Trending around you now
      - @trending_venues.each do |venue|
        .venue_trending.clearfix{:style => "margin-bottom: 8px;"}
          %h2.venue_name{:style => "float: left"}= truncate(Venue.find(venue[0]).name, :length => 34)
          %p{:style => "color: #bbb; font-weight: bold; float: right; margin: 0"}= "(#{venue[1]})"

        
#results
  = render :partial => 'partials/card', :collection => @photos, :as => :photo
  = pageless @photos.total_pages, "/disrupt?lat=#{params[:lat]}&lng=#{params[:lng]}&range=#{params[:range]}"
  
#more{:style => "font-size: 14px; text-align: center; margin-bottom: 10px;"}
  - if params[:range] == "walking"
    %a{:onclick => "parent.location='/disrupt?lat=#{params[:lat]}&lng=#{params[:lng]}&range=cab'"} a cheap cab ride away
  - elsif params[:range] == "cab"
    %a{:onclick => "parent.location='/disrupt?lat=#{params[:lat]}&lng=#{params[:lng]}&range=subway'"} a subway ride away
  - elsif params[:range] == "subway"
    %a{:onclick => "parent.location='/disrupt?lat=#{params[:lat]}&lng=#{params[:lng]}&range=city'"} the whole city is your playground