.container
  .content_below
    %ul.media-grid
      - @photos[0..20].each do |photo_id|
        - photo = Photo.first(conditions: {_id: photo_id.to_s})
        = render 'partials/showphoto', :photo => photo
    - unless @photos.count < 21
      .more
        = form_tag photos_url, :method => :get do
          - if params[:page].nil?
            = hidden_field_tag :page, 2
          - else
            = hidden_field_tag :page, (params[:page].to_i + 1)
          = hidden_field_tag :id, params[:id]
          = submit_tag "more", :class => 'btn'
        
  / .content_below#right
  /   .page-header
  /     %h3= link_to "Answered questions", '/photos?id=answered'
  /   %ul.unstyled
  /     - @answered.each do |request|
  /       %li
  /         = link_to request.photo.venue.name, request.photo
  /         %br
  /         = time_ago_in_words(Time.at request.time_answered)
  /         ago
  /         %br
  /         Q:
  /         = Request.new.short_question(request.question_id.to_i)
  / .content_below#right
  /   .page-header
  /     %h3= link_to "Trending venues", '/photos?id=trending'
  /   %ul.unstyled
  /     - @venues_trending.each do |venue|
  /       %li
  /         = link_to venue.name, venue
  /         %br
  /         = venue.photos.last_hours(3).distinct(:user_id).count
  /         users
        
%footer
  = render 'partials/footer'