.container
  .content_below
    - cities = {"newyork" => "New York", "paris" => "Paris", "tokyo" => "Tokyo", "sanfrancisco" => "San Francisco", "london" => "London"}
    - if params[:category].nil?
      - if ig_logged_in
        %h3#feed= "My feed"    
      - else
        %h3#feed= "Popular in #{cities[current_city]}"
    -elsif params[:category] == "food"
      %h3#feed= "Restaurants in #{cities[current_city]}"
    -elsif params[:category] == "nightlife"
      %h3#feed= "Nightlife in #{cities[current_city]}"
    -elsif params[:category] == "entertainment"
      %h3#feed= "Arts & Entertainment in #{cities[current_city]}"
    -elsif params[:category] == "outdoors"
      %h3#feed= "Outdoors in #{cities[current_city]}"
    -elsif params[:category] == "shopping"
      %h3#feed= "Shopping in #{cities[current_city]}"  
    -elsif params[:category] == "popular"
      %h3#feed= "Popular in #{cities[current_city]}"  
    -elsif params[:category] == "answers"
      %h3#feed= "Answers in #{cities[current_city]}"

    - @photos[0..9].each do |photo|
      - if @id == true
        - photo = Photo.first(conditions: {_id: photo.to_s})
      %a#photo_wrapper.clearfix{:href => "photos/#{photo.id.to_s}"}
        = render 'partials/showphoto', :photo => photo
    - unless @photos.count < 10
      .bouton
        = form_tag photos_url, :method => :get do
          - if params[:page].nil?
            = hidden_field_tag :page, 2
          - else
            = hidden_field_tag :page, (params[:page].to_i + 1)
          = hidden_field_tag :category, params[:category]
          = submit_tag "more", :class => 'btn'
        
%footer
  = render 'partials/footer'