#newsfeed_v2
<select id="mySelect" onchange="if(this.options[this.selectedIndex].value !=''){window.top.location.href=this.options[this.selectedIndex].value}"> <option value="http://pure-sky-4808.heroku.com/photos">All New York</option> 
<option value="http://pure-sky-4808.heroku.com/photos?id=food">Restaurants</option> 
<option value="http://pure-sky-4808.heroku.com/photos?id=nightlife">Nighlife</option> 
<option value="http://pure-sky-4808.heroku.com/photos?id=entertainment">Arts & Entertainment</option> 
<option value="http://pure-sky-4808.heroku.com/photos?id=myfeed">My feed</option> 
</select>

.yui-g
  .yui-g.first
    .yui-u.first
      - n = 3.0
      - @photos.each do |photo_id|
        - photo = Photo.first(conditions: {_id: photo_id})
        - n += 1
        - if Integer(n/4) == n/4
          = render 'partials/showphoto', :photo => photo
    .yui-u
      - n = 2.0
      - @photos.each do |photo_id|
        - photo = Photo.first(conditions: {_id: photo_id})
        - n += 1
        - if Integer(n/4) == n/4
          = render 'partials/showphoto', :photo => photo
  .yui-g
    .yui-u.first
      - n = 1.0
      - @photos.each do |photo_id|
        - photo = Photo.first(conditions: {_id: photo_id})
        - n += 1
        - if Integer(n/4) == n/4
          = render 'partials/showphoto', :photo => photo
    .yui-u
      - n = 0.0
      - @photos.each do |photo_id|
        - photo = Photo.first(conditions: {_id: photo_id})
        - n += 1
        - if Integer(n/4) == n/4
          = render 'partials/showphoto', :photo => photo
          
.more
  = form_tag photos_url, :method => :get do
    - if params[:page].nil?
      = hidden_field_tag :page, 2
    - else
      = hidden_field_tag :page, (params[:page].to_i + 1)
    = hidden_field_tag :id, params[:id]
    = submit_tag "more", :class => 'button', :id => "get_btn"