.container
  .content_below
    - unless @photo.nil?
      .image_wrapper
        #img
          = image_tag @photo.url[0], :width => '275px', :id => "img"
        %a#venue_wrapper{:href => "/venues/#{@photo.venue.id}"}
          %p.venue
            = @photo.venue.name
            %span.neighborhood
              - unless @photo.venue.neighborhood.nil?
                = @photo.venue.neighborhood
        %p.time
          = time_ago_in_words(Time.at @photo.time_taken.to_i)
          ago
        -if @photo.requests.blank?
          %p.comment= "\"#{@photo.caption}\"" unless @photo.caption.blank?
          - if ig_logged_in
            = form_tag "/ask?id=#{@photo.id}" do
              = submit_tag "Ask a question!", :class => 'btn large primary', :id => 'bigbouton'
        -elsif @photo.requests.first.response.nil?
          %p.comment= "\"#{@photo.caption}\"" unless @photo.caption.blank?
        -else
          %p.question
            Q: 
            = @photo.requests.first.question.gsub(" - via @ubimachine", "")
          %p.answer
            A: 
            = "\"#{@photo.requests.first.response}\""
      
%footer
  = render 'partials/footer'