=image_tag @photo.url[1], :width => '500px'
.time_ago
  = time_ago_in_words Time.at @photo.time_taken.to_i
  ago
  - unless @photo.venue.blank?
    .name
    = link_to "#{@photo.venue.name}", @photo.venue
    .neighborhood
    - unless @photo.venue.neighborhood.nil?
      = @photo.venue.neighborhood
  .caption
  = "\"#{@photo.caption}\"" unless @photo.caption.blank?