.container
  .content_below
    - unless @photo.nil?
      #img
        .img= image_tag @photo.url[1] , :width => '500px', :id => "modal_photo_img_#{@photo.id}"
        %div#img_details
          %h1.venue= link_to @photo.venue.name, @photo.venue
          %p.category= @photo.venue.categories.first["name"] unless @photo.venue.categories.nil?
          - if ig_logged_in
            .follow_form{:id => "show_venue#{@photo.venue.id}"}
              - unless current_user.venues.distinct(:_id).include?(@photo.venue.id)
                = render 'partials/follow_show'
              - else
                = render 'partials/unfollow_show'
          - else
            .follow_form
              %a.btn.large{:href => "/create_account"} Follow
          %br
          #map_left
            = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@photo.venue.coordinates[1]},#{@photo.venue.coordinates[0]}&zoom=15&size=430x150&maptype=roadmap&markers=color:blue%7Clabel:Sa%7C#{@photo.venue.coordinates[1]},#{@photo.venue.coordinates[0]}&sensor=false"  
          %p.neighborhood
            - unless @photo.venue.neighborhood.nil?
              = @photo.venue.neighborhood
          .user
            = link_to (image_tag @photo.user.ig_details[1], :width => "50px"), "/users/#{@photo.user.ig_username}", :id => "user_pic"
            - if @photo.user.ig_details[0].blank?
              = link_to @photo.user.ig_username, "/users/#{@photo.user.ig_username}", :id => "user"
            - else
              = link_to @photo.user.ig_details[0], "/users/#{@photo.user.ig_username}", :id => "user"
            - unless params[:category] == "food" or params[:category] == "shopping" or params[:category] == "entertainment" or params[:category] == "nightlife" or params[:category] == "outdoors"
              = "in" unless @photo.category.nil?
              - categories = {"Arts & Entertainment" => "entertainment", "Nightlife Spot" => "nightlife", "Great Outdoors" => "outdoors", "Shop & Service" => "shopping", "Food" => "food"}
              = link_to @photo.category, "/photos?city=#{current_city}&category=#{categories[@photo.category]}", :id => "category" unless @photo.category.blank?
            %p.time_stamp
              taken
              = time_ago_in_words(Time.at @photo.time_taken.to_i)
              = "ago"
          -if @photo.requests.blank?
            %p.comment= "\"#{@photo.caption}\"" unless @photo.caption.blank?
          -elsif @photo.requests.first.response.nil?
            %p.comment= "\"#{@photo.caption}\"" unless @photo.caption.blank?
            %p.question
              Q: 
              = @photo.requests.first.question.gsub(" - via @ubimachine", "")
          -else
            %p.comment= "\"#{@photo.caption}\"" unless @photo.caption.blank?
            %p.question
              Q: 
              = @photo.requests.first.question.gsub(" - via @ubimachine", "")
            %p.answer
              A: 
              = "\"#{@photo.requests.first.response}\""
          - if ig_logged_in
            - if current_user.usefuls.where(photo_id: @photo.id).empty?
              .useful_btn{:id => "photo#{@photo.id.to_s}"}
                = render 'partials/useful', :photo => @photo
            - else
              .useful_btn{:id => "photo#{@photo.id.to_s}"}
                = render 'partials/unuseful', :photo => @photo
          -else
            %a.useful_btn.btn#useful{:href => '/create_account'} useful
          - if photo.requests.blank?
            = render 'partials/showquestion', :photo => @photo
          %br
          %br
          %p.useful_count
            - unless @photo.useful_count == 0
              = pluralize(@photo.useful_count, "person")
              found it useful
          .useful_people
            - unless @photo.useful_count == 0
              - @photo.usefuls.each do |useful|
                = link_to (image_tag User.first(conditions: {_id: useful.user_id}).ig_details[1], :width => '50px'), "/users/#{User.first(conditions: {_id: useful.user_id}).ig_username}"
          .social_sharing
            %a{:href => "https://twitter.com/share", :class => "twitter-share-button", :'data-text' => "blabalbal", :'data-via' => "ubimachine"}Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            .fb-like{ :'data-send' => "false", :'data-layout' => "button_count",  :'data-width' => "300", :'data-show-faces' => "false"}
      
%footer
  = render 'partials/footer'