!!! Strict
%html
%head
  %title= "Now - #{@event.description}"
  = csrf_meta_tag
  %meta{:name=>"viewport",:content=>"width=1024"}
  = stylesheet_link_tag "nowweb"
  %script{:type=>"text/javascript",:src=>"http://maps.googleapis.com/maps/api/js?key=AIzaSyDaB7Lbgnwfni3jrzOephB8HW7_6tJf-Es&sensor=false"}
  %meta{:property=>"og:title", :content=>@event.description}
  %meta{:property=>"og:type", :content=>"activity"}
  %meta{:property=>"og:url", :content=>"http://www.getnowapp.com/#{@event.shortid}"}
  %meta{:property=>"og:image", :content=>@photos.all[rand(@photos.count)].url[0]}
  %meta{:property=>"og:site_name", :content=>"Now"}
  %meta{:property=>"fb:admins", :content=>"571905313"}
%body{:onload=>"initialize()"}
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=174358702691912";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  = yield