!!! Strict
%html
%head
  %title= "ubimachine"
  %meta(content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1" name="viewport")
  = stylesheet_link_tag "mobile/mobile.css"
  = csrf_meta_tag

%body
.topbar
  .topbar-inner
    .container
      %a.menu_icon{:href=>"/menu"}
        = image_tag 'menu.png', :width => '20px'
      %a.brand{:href=>"/photos"} ubimachine
      %a.search_icon{:href=>"/search"}
        = image_tag 'search.png', :width => '20px'

- unless ig_logged_in
  .container#promo
    .content{:style => "margin-bottom: 0px; height: 130px"}
      %h2
        %span.brand ubimachine
        %span.text is your city's interactive live photo album.
      .signup{:style => "text-align: center; margin-top: 5px;"}
        = link_to (image_tag 'signup_button.png', :width => '280px'),  'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'

= yield
