!!! Strict
%html
%head
  %title= "ubimachine"
  = javascript_include_tag  "application"
  = stylesheet_link_tag "application"
  = csrf_meta_tag

%body
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=218623581557042";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
.topbar
  .topbar-inner
    .container
      - if ig_logged_in
        %a.brand{:href=>"/photos"} ubimachine
      - else
        %a.brand{:href=>"/photos?city=#{current_city}&category=popular"} ubimachine
      - if ig_logged_in
        %ul.nav
          %li
            = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
              = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search venues...'
              = hidden_field_tag :city, current_city
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              - if current_city == 'newyork'
                New York
              - elsif current_city == 'paris'
                Paris
              - elsif current_city == 'london'
                London
              - elsif current_city == 'sanfrancisco'
                San Francisco
              - else
                Select a city
              
            %ul.dropdown-menu
              %li
                %a{:href=>"/photos?city=newyork&category=popular"} New York
              %li
                %a{:href=>"/photos?city=sanfrancisco&category=popular"} San Francisco
              %li
                %a{:href=>"/photos?city=paris&category=popular"} Paris
              %li
                %a{:href=>"/photos?city=london&category=popular"} London
        %ul.nav.secondary-nav
          %li
            %a{:href=>"/about"} About
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              .profilepic
                - if current_user.fb_id.nil?
                  = image_tag current_user.ig_details[1], :width => '25px'
                - else
                  = image_tag "https://graph.facebook.com/#{current_user.fb_username}/picture", :width => '25px'
              - if current_user.fb_id.nil?
                - if current_user.ig_details[0].blank?
                  - current_user.ig_username
                - else
                  = current_user.ig_details[0]
              - else
                = current_user.fb_fullname
            %ul.dropdown-menu
              %li
                %a{:href=>"/users/#{current_user.username}"} My todo board
              %li
                %a{:href=>"/follows"} Venues to follow
              %li
                %a{:href=>"/inbox"} My questions
              %li.divider
              %li
                %a{:href=>'/logout'} Log out
      - else
        %ul.nav
          %li
            = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
              = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search venues...'
              = hidden_field_tag :city, current_city
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              - if current_city == 'newyork'
                New York
              - elsif current_city == 'paris'
                Paris
              - elsif current_city == 'london'
                London
              - elsif current_city == 'sanfrancisco'
                San Francisco
              - else
                Select a city
              
            %ul.dropdown-menu
              %li
                %a{:href=>"/photos?city=newyork&category=popular"} New York
              %li
                %a{:href=>"/photos?city=sanfrancisco&category=popular"} San Francisco
              %li
                %a{:href=>"/photos?city=paris&category=popular"} Paris
              %li
                %a{:href=>"/photos?city=london&category=popular"} London
        %ul.nav.secondary-nav
          %li
          %a.btn.pull-right{:href=>'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'} Signup
        %ul.nav.secondary-nav
          %li
          %a.btn.pull-right{:href=>'/login'} Login
        %ul.nav.secondary-nav
          %li
            %a{:href=>"/about"} About
%ul#nav_under
  %li
    - if ig_logged_in
      - if params[:category].nil?
        %a.active{:href=>"/photos"} Your favorite venues
      - else
        %a{:href=>"/photos"} Your favorite venues
    - else
      %a{:href=>"/create_account"} Your favorite venues
    %span ·
  %li
    - if params[:category] == 'food'
      %a.active Things to do - Restaurants
    - elsif params[:category] == 'nightlife'
      %a.active Things to do - Nightlife
    - elsif params[:category] == 'entertainment'
      %a.active Things to do - Arts & Entertainment    
    - elsif params[:category] == 'outdoors'
      %a.active Things to do - Outdoors
    - elsif params[:category] == 'shopping'
      %a.active Things to do - Shopping
    - else
      %a Things to do
    %ul
      %li
        %a{:href=>"/photos?city=#{current_city}&category=food"} Restaurants
      %li
        %a{:href=>"/photos?city=#{current_city}&category=nightlife"} Nightlife
      %li
        %a{:href=>"/photos?city=#{current_city}&category=entertainment"} Arts & Entertainment
      %li
        %a{:href=>"/photos?city=#{current_city}&category=outdoors"} Outdoors
      %li
        %a{:href=>"/photos?city=#{current_city}&category=shopping"} Shopping
    %span ·
  %li
    - if params[:category] == 'popular'
      %a.active{:href=>"/photos?city=#{current_city}&category=popular"} Popular
    - else
      %a{:href=>"/photos?city=#{current_city}&category=popular"} Popular

- unless ig_logged_in
  .container#promo
    .content{:style => "padding: 2px;"}
      %h1#main_title{:style => "margin-bottom: 5px;"}
        %span.brand ubimachine
        %span.text is your city's interactive live photo stream.
      .row{:style => "margin-left: 0px;"}
        .span8
          %h4
            = image_tag "todo.png", :width => '20px'
            Create a 
            %span{:style => 'color:#ff4a6f;'}visual board
            of things you've done or want to do
          %h4
            = image_tag "chat.png", :width => '20px'
            Ask for 
            %span{:style => 'color:#ff4a6f;'}Fresh info 
            on what is happening
          %h4
            = image_tag "star.png", :width => '22px'
            %span{:style => 'color:#ff4a6f;'} Follow 
            venues you love
        .span4{:style => "margin-top:37px;" }
          .boutons{:style => "float: right;"}
            %a{:href => "/create_account"}
              %btn.btn.large{:style => "height: 20px; font-size: 25px; text-align: center; font-weight: bold;position: relative; z-index: 2; display:inline; color: #ff4a6f;"} Sign up
            %a{:href => "/login"}
              %btn.btn.large{:style => "width: 100px; height: 20px; font-size: 25px; text-align: center; font-weight: bold; position: relative; z-index: 2;display:inline; "} Login

- unless flash[:notice].nil?
  .alert-message.success.fade.in{:'data-alert' => "alert"}
    %a.close
      x
    %p.flash-alert= flash[:notice]
:javascript
  window.city = "#{current_city}"

= yield