!!! Strict
%html
%head
  %title= "ubimachine"
  = javascript_include_tag  "application"
  = stylesheet_link_tag "application"
  = csrf_meta_tag

%body
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=218623581557042";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
.topbar
  .topbar-inner
    .container
      - if ig_logged_in
        %a.brand{:href=>"/photos"} ubimachine
      - else
        %a.brand{:href=>"/photos?city=#{current_city}&category=popular"} ubimachine
      - if ig_logged_in
        %ul.nav
          %li
            = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
              = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search venues...'
              = hidden_field_tag :city, current_city
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              - if current_city == 'newyork'
                New York
              - elsif current_city == 'paris'
                Paris
              - elsif current_city == 'london'
                London
              - elsif current_city == 'sanfrancisco'
                San Francisco
              - else
                Select a city
              
            %ul.dropdown-menu
              %li
                %a{:href=>"/photos?city=newyork&category=popular"} New York
              %li
                %a{:href=>"/photos?city=sanfrancisco&category=popular"} San Francisco
              %li
                %a{:href=>"/photos?city=paris&category=popular"} Paris
              %li
                %a{:href=>"/photos?city=london&category=popular"} London
        %ul.nav.secondary-nav
          %li
            %a{:href=>"/about"} About
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              .profilepic
                = image_tag current_user.ig_details[1], :width => '25px'
              - if current_user.ig_details[0].blank?
                - current_user.ig_username
              - else
                = current_user.ig_details[0]
            %ul.dropdown-menu
              %li
                %a{:href=>"/users/#{current_user.ig_username}"} My profile
              %li
                %a{:href=>"/users/#{current_user.ig_username}/usefuls"} My usefuls
              %li
                %a{:href=>"/users/#{current_user.ig_username}/follows"} My venues
              %li
                %a{:href=>"/users/#{current_user.ig_username}/questions"} My questions
              %li
                %a{:href=>"/follows"} Venues to follow
              %li
                %a{:href=>"/inbox"} Inbox
              %li.divider
              %li
                %a{:href=>'/logout'} Log out
      - else
        %ul.nav
          %li
            = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
              = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search venues...'
              = hidden_field_tag :city, current_city
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              - if current_city == 'newyork'
                New York
              - elsif current_city == 'paris'
                Paris
              - elsif current_city == 'london'
                London
              - elsif current_city == 'sanfrancisco'
                San Francisco
              - else
                Select a city
              
            %ul.dropdown-menu
              %li
                %a{:href=>"/photos?city=newyork&category=popular"} New York
              %li
                %a{:href=>"/photos?city=sanfrancisco&category=popular"} San Francisco
              %li
                %a{:href=>"/photos?city=paris&category=popular"} Paris
              %li
                %a{:href=>"/photos?city=london&category=popular"} London
        %ul.nav.secondary-nav
          %li
          %a.btn.pull-right{:href=>'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'} Signup
        %ul.nav.secondary-nav
          %li
          %a.btn.pull-right{:href=>'/login'} Login
        %ul.nav.secondary-nav
          %li
            %a{:href=>"/about"} About
%ul#nav_under
  %li
    - if ig_logged_in
      - if params[:category].nil?
        %a.active{:href=>"/photos"} Venues you follow
      - else
        %a{:href=>"/photos"} Venues you follow
    - else
      %a{:href=>"/create_account"} Venues you follow
    %span ·
  %li
    - if params[:category] == 'food'
      %a.active Going out ideas - Restaurants
    - elsif params[:category] == 'nightlife'
      %a.active Going out ideas - Nightlife
    - elsif params[:category] == 'entertainment'
      %a.active Going out ideas - Arts & Entertainment    
    - elsif params[:category] == 'outdoors'
      %a.active Going out ideas - Outdoors
    - elsif params[:category] == 'shopping'
      %a.active Going out ideas - Shopping 
    - else
      %a Going out ideas
    %ul
      %li
        %a{:href=>"/photos?city=#{current_city}&category=food"} Restaurants
      %li
        %a{:href=>"/photos?city=#{current_city}&category=nightlife"} Nightlife
      %li
        %a{:href=>"/photos?city=#{current_city}&category=entertainment"} Arts & Entertainment
      %li
        %a{:href=>"/photos?city=#{current_city}&category=outdoors"} Outdoors
      %li
        %a{:href=>"/photos?city=#{current_city}&category=shopping"} Shopping
    %span ·
  %li
    - if params[:category] == 'popular'
      %a.active{:href=>"/photos?city=#{current_city}&category=popular"} Popular
    - else
      %a{:href=>"/photos?city=#{current_city}&category=popular"} Popular
    %span ·
  %li
    - if params[:category] == 'answers'
      %a.active{:href=>"/photos?city=#{current_city}&category=answers"} Answers
    - else
      %a{:href=>"/photos?city=#{current_city}&category=answers"} Answers

- unless ig_logged_in
  .container#promo
    .content
      %h1#main_title
        %span.brand ubimachine
        %span.text is your city's interactive live photo album.
      .row
        .span7
          %p Follow venues you love so you never miss what happens there.
          %p Ask for advice from people currently there.
          %p Share your own vision of the city and discover new things to do!
        .span4{:style => "margin-top:7px;" }
          = link_to (image_tag 'signup_button.png', :width => '280px'),  'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'

- unless flash[:notice].nil?
  .alert-message.success.fade.in{:'data-alert' => "alert"}
    %a.close
      x
    %p.flash-alert= flash[:notice]
:javascript
  window.city = "#{current_city}"

= yield