!!! Strict
%html
%head
  %title= "ubimachine"
  %meta(content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1" name="viewport")
  = stylesheet_link_tag "mobile/mobile.css"
  = javascript_include_tag "application"
  = csrf_meta_tag
  <link rel=”apple-touch-icon” href=”http://0.0.0.0:3000/assets/icon.png”>
  %script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyDaB7Lbgnwfni3jrzOephB8HW7_6tJf-Es&sensor=true"}

%body
.topbar
  .topbar-inner
    .container
      %a.menu_icon{:href=>"/menu"}
        = image_tag 'menu.png', :width => '20px'
      %a.brand{:href=>"/photos"} ubimachine
      %a.search_icon{:href=>"/search"}
        = image_tag 'search.png', :width => '20px'

- unless ig_logged_in
  .container#promo
    .content{:style => " height: 100px"}
      %h2
        %span.brand{:style => "font-size: 16px;"} ubimachine
        %span.text{:style => "font-size: 16px;"} is your city's interactive live visual to-do list.
      %p{:style => "text-align: center; font-size: 11px"} this mobile version is in construction. Visit the website for a better experience!

      / .signup{:style => "text-align: center; margin-top: 5px;"}
      /   = link_to (image_tag 'signup_button.png', :width => '280px'),  'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'

= yield
