!!! Strict
%html
%head
  %title= "ubimachine"
  = javascript_include_tag  "application"
  = stylesheet_link_tag "application"
  = javascript_include_tag "jquery.wookmark"

%body
.topbar
  .topbar-inner
    .container
      %a.brand{:href=>"/photos"} ubimachine
      - if ig_logged_in
        %ul.nav
          %li
            = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
              = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search venues...'
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle New York
            %ul.dropdown-menu
              %li
                %a New York
        %ul.nav.secondary-nav
          %li
            %a{:href=>"/follows"} Venues to follow
          %li
            %a{:href=>"/inbox"} Inbox
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              .profilepic
                = image_tag current_user.ig_details[1], :width => '25px'
              - if current_user.ig_details[0].blank?
                - current_user.ig_username
              - else
                = current_user.ig_details[0]
            %ul.dropdown-menu
              %li
                %a{:href=>"/settings"} Settings
              %li.divider
              %li
                %a{:href=>'/logout'} Log out
      - else
        %ul.nav
          %li
            = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
              = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search venues...'
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle New York
            %ul.dropdown-menu
              %li
                %a New York
        %ul.nav.secondary-nav
          %li
          %a{:href=>'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'} Log in

%ul#nav_test
  %li
    %a{:href=>"/photos"} Venues you follow
  %li
    %a
      - if params[:id] == 'food'
        Going out ideas - Restaurants
      - elsif params[:id] == 'nightlife'
        Going out ideas - Nightlife
      - elsif params[:id] == 'entertainment'
        Going out ideas - Arts & Entertainment    
      - elsif params[:id] == 'outdoors'
        Going out ideas - Outdoors
      - elsif params[:id] == 'shopping'
        Going out ideas - Shopping 
      - else
        Going out ideas
    %ul
      %li
        %a{:href=>"/photos?id=food"} Restaurants
      %li
        %a{:href=>"/photos?id=nightlife"} Nightlife
      %li
        %a{:href=>"/photos?id=entertainment"} Arts & Entertainment
      %li
        %a{:href=>"/photos?id=outdoors"} Outdoors
      %li
        %a{:href=>"/photos?id=shopping"} Shopping
  %li
    %a{:href=>"/photos?id=useful"} Useful pics
  %li
    %a{:href=>"/photos?id=anwered"} Recent tips

- unless flash[:notice].nil?
  .alert-message.success.fade.in{:'data-alert' => "alert"}
    %a.close
      x
    %p= flash[:notice]
  
= yield
