!!! Strict
%html
%head
  %title= "ubimachine"
  %meta(content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1" name="viewport")
  = stylesheet_link_tag "mobile/mobile.css"
  = csrf_meta_tag

%body
.topbar
  .topbar-inner
    .container
      %a.menu_icon{:href=>"/menu"}
        = image_tag 'menu.png', :width => '20px'
      %a.brand{:href=>"/photos"} ubimachine
      %a.search_icon{:href=>"/search"}
        = image_tag 'search.png', :width => '20px'
- unless flash[:notice].nil?
  .alert-message.success.fade.in{:'data-alert' => "alert"}
    %a.close
      x
    %p= flash[:notice]

= yield
