!!! Strict
%html
%head
  %title= "ubimachine"
  = javascript_include_tag  "application"
  = stylesheet_link_tag "application"
  = javascript_include_tag "jquery.wookmark"

%body
.topbar
  .topbar-inner
    .container
      -if @city.nil?
        %a.brand{:href=>"/photos?city=newyork&category=outdoors"} ubimachine
      - else
        %a.brand{:href=>"/photos?city=#{@city}&category=outdoors"} ubimachine
      - if ig_logged_in
        %ul.nav
          %li
            = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
              = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search venues...'
              = hidden_field_tag :city, @city
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              - if params[:city] == 'newyork'
                New York
              - elsif params[:city] == 'paris'
                Paris
              - else
                Select a city
            %ul.dropdown-menu
              %li
                %a{:href=>"/photos?city=newyork&category=outdoors"} New York
              %li
                %a{:href=>"/photos?city=paris&category=outdoors"} Paris
        %ul.nav.secondary-nav
          %li
            %a{:href=>"/follows"} Venues to follow
          %li
            %a{:href=>"/inbox"} Inbox
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              .profilepic
                = image_tag current_user.ig_details[1], :width => '25px'
              - if current_user.ig_details[0].blank?
                - current_user.ig_username
              - else
                = current_user.ig_details[0]
            %ul.dropdown-menu
              %li
                %a{:href=>"/users/#{current_user.ig_username}"} My profile
              %li
                %a{:href=>"/settings"} Settings
              %li.divider
              %li
                %a{:href=>'/logout'} Log out
      - else
        %ul.nav
          %li
            = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
              = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search venues...'
              = hidden_field_tag :city, @city
          %li.dropdown{ :'data-dropdown' => "dropdown"}
            %a.dropdown-toggle
              - if params[:city] == 'newyork'
                New York
              - elsif params[:city] == 'paris'
                Paris
              - else
                Select a city
            %ul.dropdown-menu
              %li
                %a{:href=>"/photos?city=newyork&category=outdoors"} New York
              %li
                %a{:href=>"/photos?city=paris&category=outdoors"} Paris
        %ul.nav.secondary-nav
          %li
          %a{:href=>'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'} Log in

%ul#nav_test
  %li
    - if ig_logged_in
      %a{:href=>"/photos?city=#{@city}"} Venues you follow
    - else
      %a{:href=>"/create_account"} Venues you follow
  %li
    %a
      - if params[:category] == 'food'
        Going out ideas - Restaurants
      - elsif params[:category] == 'nightlife'
        Going out ideas - Nightlife
      - elsif params[:category] == 'entertainment'
        Going out ideas - Arts & Entertainment    
      - elsif params[:category] == 'outdoors'
        Going out ideas - Outdoors
      - elsif params[:category] == 'shopping'
        Going out ideas - Shopping 
      - else
        Going out ideas
    %ul
      %li
        %a{:href=>"/photos?city=#{@city}&category=food"} Restaurants
      %li
        %a{:href=>"/photos?city=#{@city}&category=nightlife"} Nightlife
      %li
        %a{:href=>"/photos?city=#{@city}&category=entertainment"} Arts & Entertainment
      %li
        %a{:href=>"/photos?city=#{@city}&category=outdoors"} Outdoors
      %li
        %a{:href=>"/photos?city=#{@city}&category=shopping"} Shopping
  %li
    %a{:href=>"/photos?city=#{@city}&category=useful"} Useful pics
  %li
    %a{:href=>"/photos?city=#{@city}&category=answered"} Recent tips

- unless flash[:notice].nil?
  .alert-message.success.fade.in{:'data-alert' => "alert"}
    %a.close
      x
    %p= flash[:notice]

= yield