!!! Strict
%html
%head
  %title= "UBIMACHINE"
  /= javascript_include_tag :defaults
  = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js', "application"
  = stylesheet_link_tag 'http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css'
  = csrf_meta_tag
  /= stylesheet_link_tag 'web'
  /= stylesheet_link_tag 'http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css'
  %script{ :type => "text/javascript", :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
  %script{ :type => "text/javascript", :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'}

  
<meta name = "viewport" content = "initial-scale = 1.0">

%body
#doc4
  .yui-t7
  #header
  = link_to "UBIMACHINE", photos_path
  /hide search in home.html
  = form_tag searches_url, :method => 'get', :id => 'search_form', :class => 'search' do
    = text_field_tag :term, params[:term], :class => "auto_search_complete", :placeholder => 'Search for a place...'
    = submit_tag "search", :name => nil, :class => 'button', :id => "search_btn"

  .notice
    = notice
  .alert
    = alert
  #body

  = yield