!!! Strict
%html
%head
    %script{:type=>"text/javascript"}
        var _sf_startpt=(new Date()).getTime()
    %title= "Now - #{@event.description}"
    = csrf_meta_tag
    %meta{:content=>"width=device-width,initial-scale=1.0,user-scalable=no", :name=>"viewport"}
    %meta{:name=>"apple-itunes-app", :content=>"app-id=525956360"}
    %meta{:name => "description", :content => "Now is a free iphone app that let's you know in real time about events happening in your city."}
    %meta{:name => "keywords", :content => "realtime, photos, events, trending, iphone, explore, discover, things to do, news, city"}
    %link{:rel=>"shortcut icon", :href=>"/assets/favicon.ico"}
    = stylesheet_link_tag "nowweb_mobile"
    %script{:type=>"text/javascript",:src=>"http://maps.googleapis.com/maps/api/js?key=AIzaSyDaB7Lbgnwfni3jrzOephB8HW7_6tJf-Es&sensor=false"}
    - if @theme
        %meta{:property=>"og:title", :content=> @theme_title}
    - else
        %meta{:property=>"og:title", :content=>@event.description}
    - if @theme
        %meta{:property=>"og:description", :content=>"on Now app"}
    - else
        %meta{:property=>"og:description", :content=>"at #{@venue.name}"}
    %meta{:property=>"fb:app_id", :content=>"174358702691912"}
    %meta{:property=>"og:type", :content=>"getnowapp:experience"}
    - if @theme
        %meta{:property=>"og:url", :content=>"http://www.getnowapp.com/#{@theme}"}
    - else
        %meta{:property=>"og:url", :content=>"http://www.getnowapp.com/#{@event.shortid}"}
    - if @photos.count != 0
        %meta{:property=>"og:image", :content=>@photos[rand(@photos.count)].url[0]}
    %meta{:property=>"og:site_name", :content=>"Now"}
    %meta{:property=>"fb:admins", :content=>"571905313"}
    %script{:type=>"text/javascript"}
        (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
        for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
        mixpanel.init("d348c310c9be8fc5e6f522e5792b13da");
%body{:onload=>"initialize()"}
    #fb-root
    :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=174358702691912";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    = yield

    .footer