!!! Strict
%html
%head
	%title= "Now - #{@event.description}"
	= csrf_meta_tag
	%meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;"}
	%meta{:name => "apple-mobile-web-app-capable", :content =>"yes"}
	%meta{:name => "apple-mobile-web-app-status-bar-style", :content=>"black"}
	= stylesheet_link_tag "mobile/mobile_now.css"
	%meta{:property=>"og:title", :content=>@event.description}
	%meta{:property=>"og:description", :content=>"at #{@venue.name} in #{@city}"}
	%meta{:property=>"og:determiner", :content=>"a"}
	%meta{:property=>"fb:app_id", :content=>"174358702691912"}
	%meta{:property=>"og:type", :content=>"activity"}
	%meta{:property=>"og:url", :content=>"http://www.getnowapp.com/#{@event.shortid}"}
	%meta{:property=>"og:image", :content=>@photos.all[rand(@photos.count)].url[0]}
	%meta{:property=>"og:site_name", :content=>"Now"}
	%meta{:property=>"fb:admins", :content=>"571905313"}
	%script{:type=>"text/javascript"}
		(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
		for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
		mixpanel.init("d348c310c9be8fc5e6f522e5792b13da");
		mixpanel.track("Show:loaded")
		mixpanel.track_links("#nowlogo a", "Show:logo")
		mixpanel.track_links("#downloadlogo a", "Show:download")
		mixpanel.track_links("#content a", "Show:photo")
%body
	#fb-root
	:javascript
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=174358702691912";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	= yield